[data-asri-enhance-coloredheading="true"]:root {
    #asri-enhance-colored-heading, #asri-enhance-detail-adjustment {
        &:not(:hover):not(.b3-menu__item--show):not(.b3-menu__item--current) {
            color: var(--b3-theme-accent);
            & .b3-menu__icon {
                color: var(--b3-theme-accent);
            }
        }
    }
    .b3-typography,
    .protyle-wysiwyg {
        @for $i from 1 through 6 {
            h#{$i} {
                color: oklch(from var(--b3-theme-primary) l c calc(h + #{$i * 50}));
            }
        }
        @for $i from 1 through 6 {
            [data-type=NodeHeading].h#{$i} [spellcheck] {
                color: oklch(from var(--b3-theme-primary) l c calc(h + #{$i * 50}));
            }
        }
    }
    &.asri-mode-light {
        @for $i from 1 through 6 {
            .sy__outline,
            [data-type="sidebar-outline"] {
                .b3-list-item[data-type=NodeHeading][data-subtype=h#{$i}] {
                    .b3-list-item__text,
                    .b3-list-item__graphic {
                        color: oklch(from var(--b3-theme-primary) calc(l - 0.15) c calc(h + #{$i * 50}));
                    }
                }
            }
        }
    }
    &.asri-mode-dark {
        @for $i from 1 through 6 {
            .sy__outline,
            [data-type="sidebar-outline"] {
                .b3-list-item[data-type=NodeHeading][data-subtype=h#{$i}] {
                    .b3-list-item__text,
                    .b3-list-item__graphic {
                        color: oklch(from var(--b3-theme-primary) calc(l + 0.15) c calc(h + #{$i * 50}));
                    }
                }
            }
        }
    }
    /* 极地配色 */
    &.asri-mode-light.asri-palette-polar {
        .b3-typography,
        .protyle-wysiwyg {
            @for $i from 1 through 6 {
                h#{$i} {
                    color: oklch(from var(--b3-theme-primary) 0.45 0.5 calc(h + #{$i * 50}));
                }
            }
            @for $i from 1 through 6 {
                [data-type=NodeHeading].h#{$i} [spellcheck] {
                    color: oklch(from var(--b3-theme-primary) 0.45 0.5 calc(h + #{$i * 50}));
                }
            }
        }
        @for $i from 1 through 6 {
            .sy__outline .b3-list-item[data-type=NodeHeading][data-subtype=h#{$i}] .b3-list-item__text {
                color: oklch(from var(--b3-theme-primary) 0.35 0.5 calc(h + #{$i * 50}));
            }
        }
    }
}
