[data-asri-enhance-coloredheading="true"]:is([data-theme-mode="light"][data-light-theme="Asri"], [data-theme-mode="dark"][data-dark-theme="Asri"]) {
    #asri-enhance-colored-heading, #asri-enhance-detail-adjustment {
        &:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
            color: var(--b3-theme-accent);
            & .b3-menu__icon {
                color: var(--b3-theme-accent);
            }
        }
    }
    :is(.b3-typography,.protyle-wysiwyg) {
        h1 {
            color: oklch(from var(--b3-theme-primary) l c calc(h + 50));
        }
        h2 {
            color: oklch(from var(--b3-theme-primary) l c calc(h + 100));
        }
        h3 {
            color: oklch(from var(--b3-theme-primary) l c calc(h + 150));
        }
        h4 {
            color: oklch(from var(--b3-theme-primary) l c calc(h + 200));
        }
        h5 {
            color: oklch(from var(--b3-theme-primary) l c calc(h + 250));
        }
        h6 {
            color: oklch(from var(--b3-theme-primary) l c calc(h + 300));
        }
    }
    :is(.b3-typography,.protyle-wysiwyg) [data-type=NodeHeading].h1 [spellcheck] {
        color: oklch(from var(--b3-theme-primary) l c calc(h + 50));
    }
    :is(.b3-typography,.protyle-wysiwyg) [data-type=NodeHeading].h2 [spellcheck] {
        color: oklch(from var(--b3-theme-primary) l c calc(h + 100));
    }
    :is(.b3-typography,.protyle-wysiwyg) [data-type=NodeHeading].h3 [spellcheck] {
        color: oklch(from var(--b3-theme-primary) l c calc(h + 150));
    }
    :is(.b3-typography,.protyle-wysiwyg) [data-type=NodeHeading].h4 [spellcheck] {
        color: oklch(from var(--b3-theme-primary) l c calc(h + 200));
    }
    :is(.b3-typography,.protyle-wysiwyg) [data-type=NodeHeading].h5 [spellcheck] {
        color: oklch(from var(--b3-theme-primary) l c calc(h + 250));
    }
    :is(.b3-typography,.protyle-wysiwyg) [data-type=NodeHeading].h6 [spellcheck] {
        color: oklch(from var(--b3-theme-primary) l c calc(h + 300));
    }
    &[data-theme-mode="light"][data-light-theme="Asri"] {
        .sy__outline .b3-list-item[data-type=NodeHeading][data-subtype=h1] .b3-list-item__text {
            color: oklch(from var(--b3-theme-primary) calc(l - 0.15) c calc(h + 50));
        }
        .sy__outline .b3-list-item[data-type=NodeHeading][data-subtype=h2] .b3-list-item__text {
            color: oklch(from var(--b3-theme-primary) calc(l - 0.15) c calc(h + 100));
        }
        .sy__outline .b3-list-item[data-type=NodeHeading][data-subtype=h3] .b3-list-item__text {
            color: oklch(from var(--b3-theme-primary) calc(l - 0.15) c calc(h + 150));
        }
        .sy__outline .b3-list-item[data-type=NodeHeading][data-subtype=h4] .b3-list-item__text {
            color: oklch(from var(--b3-theme-primary) calc(l - 0.15) c calc(h + 200));
        }
        .sy__outline .b3-list-item[data-type=NodeHeading][data-subtype=h5] .b3-list-item__text {
            color: oklch(from var(--b3-theme-primary) calc(l - 0.15) c calc(h + 250));
        }
        .sy__outline .b3-list-item[data-type=NodeHeading][data-subtype=h6] .b3-list-item__text {
            color: oklch(from var(--b3-theme-primary) calc(l - 0.15) c calc(h + 300));
        }
    }
    &[data-theme-mode="dark"][data-dark-theme="Asri"] {
        .sy__outline .b3-list-item[data-type=NodeHeading][data-subtype=h1] .b3-list-item__text {
            color: oklch(from var(--b3-theme-primary) calc(l + 0.15) c calc(h + 50));
        }
        .sy__outline .b3-list-item[data-type=NodeHeading][data-subtype=h2] .b3-list-item__text {
            color: oklch(from var(--b3-theme-primary) calc(l + 0.15) c calc(h + 100));
        }
        .sy__outline .b3-list-item[data-type=NodeHeading][data-subtype=h3] .b3-list-item__text {
            color: oklch(from var(--b3-theme-primary) calc(l + 0.15) c calc(h + 150));
        }
        .sy__outline .b3-list-item[data-type=NodeHeading][data-subtype=h4] .b3-list-item__text {
            color: oklch(from var(--b3-theme-primary) calc(l + 0.15) c calc(h + 200));
        }
        .sy__outline .b3-list-item[data-type=NodeHeading][data-subtype=h5] .b3-list-item__text {
            color: oklch(from var(--b3-theme-primary) calc(l + 0.15) c calc(h + 250));
        }
        .sy__outline .b3-list-item[data-type=NodeHeading][data-subtype=h6] .b3-list-item__text {
            color: oklch(from var(--b3-theme-primary) calc(l + 0.15) c calc(h + 300));
        }
    }
    /* 故障配色 */
    &[data-asri-palette="glitch"] {
        :is(h1, h2, h3, h4, h5, h6),
        [data-type="NodeHeading"]:not([style*="background-color"]) {
            background: repeating-conic-gradient( var(--glitch-c1) 0 .00005%, var(--glitch-c2) 0 .00017%) 0 0/var(--glitch-s1) var(--glitch-s2);
            background-clip: text;
            color: transparent;
            & [spellcheck] {
                color: unset;
            }
            &:is(h1, .h1) {
                --glitch-c1: rgb(255 230 0) !important;
                --glitch-c2: rgb(255 93 93) !important;
            }
            &:is(h2, .h2) {
                --glitch-c1: rgb(186 255 114) !important;
                --glitch-c2: rgb(232 124 0) !important;
            }
            &:is(h3, .h3) {
                --glitch-c1: rgb(24 255 175) !important;
                --glitch-c2: rgb(114 158 100) !important;
            }
            &:is(h4, .h4) {
                --glitch-c1: rgb(185 130 255) !important;
                --glitch-c2: rgb(81 202 214) !important;
            }
            &:is(h5, .h5) {
                --glitch-c1: rgb(165 225 255) !important;
                --glitch-c2: rgb(136 70 246) !important;
            }
            &:is(h6, .h6) {
                --glitch-c1: rgb(255 185 130) !important;
                --glitch-c2: rgb(221 124 213) !important;
            }
        }
        &[data-asri-enhance-headinglevelhint="true"] {
            :is(h1, h2, h3, h4, h5, h6),
            [data-type="NodeHeading"]:not([style*="background-color"]) {
                &:is(h1, .h1):not(.asri-selected-block)::before {
                    --glitch-c1: rgb(255 230 0) !important;
                    --glitch-c2: rgb(255 93 93) !important;
                    background: repeating-conic-gradient( var(--glitch-c1) 0 .00005%, var(--glitch-c2) 0 .00017%) 0 0/var(--glitch-s1) var(--glitch-s2);
                    background-clip: text;
                    color: transparent;
                }
                &:is(h2, .h2):not(.asri-selected-block)::before {
                    --glitch-c1: rgb(186 255 114) !important;
                    --glitch-c2: rgb(232 124 0) !important;
                    background: repeating-conic-gradient( var(--glitch-c1) 0 .00005%, var(--glitch-c2) 0 .00017%) 0 0/var(--glitch-s1) var(--glitch-s2);
                    background-clip: text;
                    color: transparent;
                }
                &:is(h3, .h3):not(.asri-selected-block)::before {
                    --glitch-c1: rgb(24 255 175) !important;
                    --glitch-c2: rgb(114 158 100) !important;
                    background: repeating-conic-gradient( var(--glitch-c1) 0 .00005%, var(--glitch-c2) 0 .00017%) 0 0/var(--glitch-s1) var(--glitch-s2);
                    background-clip: text;
                    color: transparent;
                }
                &:is(h4, .h4):not(.asri-selected-block)::before {
                    --glitch-c1: rgb(185 130 255) !important;
                    --glitch-c2: rgb(81 202 214) !important;
                    background: repeating-conic-gradient( var(--glitch-c1) 0 .00005%, var(--glitch-c2) 0 .00017%) 0 0/var(--glitch-s1) var(--glitch-s2);
                    background-clip: text;
                    color: transparent;
                }
                &:is(h5, .h5):not(.asri-selected-block)::before {
                    --glitch-c1: rgb(165 225 255) !important;
                    --glitch-c2: rgb(136 70 246) !important;
                    background: repeating-conic-gradient( var(--glitch-c1) 0 .00005%, var(--glitch-c2) 0 .00017%) 0 0/var(--glitch-s1) var(--glitch-s2);
                    background-clip: text;
                    color: transparent;
                }
                &:is(h6, .h6):not(.asri-selected-block)::before {
                    --glitch-c1: rgb(255 185 130) !important;
                    --glitch-c2: rgb(221 124 213) !important;
                    background: repeating-conic-gradient( var(--glitch-c1) 0 .00005%, var(--glitch-c2) 0 .00017%) 0 0/var(--glitch-s1) var(--glitch-s2);
                    background-clip: text;
                    color: transparent;
                }
            }
        }
    }
    /* 鎏金配色 */
    &[data-asri-palette="auriflow"] {
        :is(h1, h2, h3, h4, h5, h6),
        [data-type="NodeHeading"]:not([style*="background-color"]) {
            background: repeating-radial-gradient(rgba(180, 135, 30, var(--foil-shadow-opacity)) 0 0.0001%, rgba(0, 0, 0, 0) 0 0.0002%) 30% 50%/2500px 2500px, repeating-conic-gradient(var(--foil-local-clr) 0 0.0001%, rgba(0, 0, 0, 0) 0 0.0002%) 60% 60%/2500px 2500px, repeating-conic-gradient(rgba(245, 227, 199, var(--foil-highlight-opacity)) 0 0.0001%, rgba(0, 0, 0, 0) 0 0.0002%) 50% 50%/2500px 2500px, var(--foil-base-clr);
            background-clip: text;
            color: transparent;
            & [spellcheck] {
                color: unset;
            }
            &:is(h1, .h1) {
                --foil-local-clr: rgb(190 100 100);
                --foil-base-clr: rgb(225 145 173);
            }
            &:is(h2, .h2) {
                --foil-local-clr: rgb(191 138 103);
                --foil-base-clr: rgb(245 126 49);
            }
            &:is(h3, .h3) {
                --foil-local-clr: rgb(117 173 79);
                --foil-base-clr: rgb(138 194 140);
            }
            &:is(h4, .h4) {
                --foil-local-clr: rgb(60, 153, 158);
                --foil-base-clr: rgb(158, 206, 211);
            }
            &:is(h5, .h5) {
                --foil-local-clr: rgb(117 153 253);
                --foil-base-clr: rgb(125 139 221);
            }
            &:is(h6, .h6) {
                --foil-local-clr: rgb(151 106 225);
                --foil-base-clr: rgb(183 160 209);
            }
        }
        &[data-asri-enhance-headinglevelhint="true"] {
            :is(h1, h2, h3, h4, h5, h6),
            [data-type="NodeHeading"]:not([style*="background-color"]) {
                &:is(h1, .h1):not(.asri-selected-block)::before {
                    --foil-local-clr: rgb(190 100 100);
                    --foil-base-clr: rgb(225 145 173);
                    background: repeating-radial-gradient(rgba(180, 135, 30, var(--foil-shadow-opacity)) 0 0.0001%, rgba(0, 0, 0, 0) 0 0.0002%) 30% 50%/2500px 2500px, repeating-conic-gradient(var(--foil-local-clr) 0 0.0001%, rgba(0, 0, 0, 0) 0 0.0002%) 60% 60%/2500px 2500px, repeating-conic-gradient(rgba(245, 227, 199, var(--foil-highlight-opacity)) 0 0.0001%, rgba(0, 0, 0, 0) 0 0.0002%) 50% 50%/2500px 2500px, var(--foil-base-clr);
                    background-clip: text;
                    color: transparent;
                }
                &:is(h2, .h2):not(.asri-selected-block)::before {
                    --foil-local-clr: rgb(191 138 103);
                    --foil-base-clr: rgb(245 126 49);
                    background: repeating-radial-gradient(rgba(180, 135, 30, var(--foil-shadow-opacity)) 0 0.0001%, rgba(0, 0, 0, 0) 0 0.0002%) 30% 50%/2500px 2500px, repeating-conic-gradient(var(--foil-local-clr) 0 0.0001%, rgba(0, 0, 0, 0) 0 0.0002%) 60% 60%/2500px 2500px, repeating-conic-gradient(rgba(245, 227, 199, var(--foil-highlight-opacity)) 0 0.0001%, rgba(0, 0, 0, 0) 0 0.0002%) 50% 50%/2500px 2500px, var(--foil-base-clr);
                    background-clip: text;
                    color: transparent;
                }
                &:is(h3, .h3):not(.asri-selected-block)::before {
                    --foil-local-clr: rgb(117 173 79);
                    --foil-base-clr: rgb(138 194 140);
                    background: repeating-radial-gradient(rgba(180, 135, 30, var(--foil-shadow-opacity)) 0 0.0001%, rgba(0, 0, 0, 0) 0 0.0002%) 30% 50%/2500px 2500px, repeating-conic-gradient(var(--foil-local-clr) 0 0.0001%, rgba(0, 0, 0, 0) 0 0.0002%) 60% 60%/2500px 2500px, repeating-conic-gradient(rgba(245, 227, 199, var(--foil-highlight-opacity)) 0 0.0001%, rgba(0, 0, 0, 0) 0 0.0002%) 50% 50%/2500px 2500px, var(--foil-base-clr);
                    background-clip: text;
                    color: transparent;
                }
                &:is(h4, .h4):not(.asri-selected-block)::before {
                    --foil-local-clr: rgb(60, 153, 158);
                    --foil-base-clr: rgb(158, 206, 211);
                    background: repeating-radial-gradient(rgba(180, 135, 30, var(--foil-shadow-opacity)) 0 0.0001%, rgba(0, 0, 0, 0) 0 0.0002%) 30% 50%/2500px 2500px, repeating-conic-gradient(var(--foil-local-clr) 0 0.0001%, rgba(0, 0, 0, 0) 0 0.0002%) 60% 60%/2500px 2500px, repeating-conic-gradient(rgba(245, 227, 199, var(--foil-highlight-opacity)) 0 0.0001%, rgba(0, 0, 0, 0) 0 0.0002%) 50% 50%/2500px 2500px, var(--foil-base-clr);
                    background-clip: text;
                    color: transparent;
                }
                &:is(h5, .h5):not(.asri-selected-block)::before {
                    --foil-local-clr: rgb(117 153 253);
                    --foil-base-clr: rgb(125 139 221);
                    background: repeating-radial-gradient(rgba(180, 135, 30, var(--foil-shadow-opacity)) 0 0.0001%, rgba(0, 0, 0, 0) 0 0.0002%) 30% 50%/2500px 2500px, repeating-conic-gradient(var(--foil-local-clr) 0 0.0001%, rgba(0, 0, 0, 0) 0 0.0002%) 60% 60%/2500px 2500px, repeating-conic-gradient(rgba(245, 227, 199, var(--foil-highlight-opacity)) 0 0.0001%, rgba(0, 0, 0, 0) 0 0.0002%) 50% 50%/2500px 2500px, var(--foil-base-clr);
                    background-clip: text;
                    color: transparent;
                }
                &:is(h6, .h6):not(.asri-selected-block)::before {
                    --foil-local-clr: rgb(151 106 225);
                    --foil-base-clr: rgb(183 160 209);
                    background: repeating-radial-gradient(rgba(180, 135, 30, var(--foil-shadow-opacity)) 0 0.0001%, rgba(0, 0, 0, 0) 0 0.0002%) 30% 50%/2500px 2500px, repeating-conic-gradient(var(--foil-local-clr) 0 0.0001%, rgba(0, 0, 0, 0) 0 0.0002%) 60% 60%/2500px 2500px, repeating-conic-gradient(rgba(245, 227, 199, var(--foil-highlight-opacity)) 0 0.0001%, rgba(0, 0, 0, 0) 0 0.0002%) 50% 50%/2500px 2500px, var(--foil-base-clr);
                    background-clip: text;
                    color: transparent;
                }
            }
        }
    }
}
