[data-asri-enhance-colored-tree="true"]:root {
    #asri-enhance-colored-tree, #asri-enhance-detail-adjustment {
        &:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
            color: var(--b3-theme-accent);
            & .b3-menu__icon {
                color: var(--b3-theme-accent);
            }
        }
    }
    .sy__file > .fn__flex-1 > ul.b3-list.b3-list--background {
        @for $i from 0 through 7 {
            $hue-offset: #{$i * 45};
            &:nth-of-type(8n + #{$i + 1}) {
                --b3-list-hover: oklch(from var(--b3-theme-accent) l 0.12 calc(h + #{$hue-offset}) / 0.1);
                & .b3-list-item--focus {
                    background-color: oklch(from var(--b3-theme-accent) l c calc(h + #{$hue-offset}) / 0.2) !important;
                }
                & [data-type="navigation-root"] {
                    background-color: oklch(from var(--b3-theme-accent) l c calc(h + #{$hue-offset}) / 0.1);
                    &:hover {
                        background-color: oklch(from var(--b3-theme-accent) l c calc(h + #{$hue-offset}) / 0.2);
                    }
                }
            }
        }
    }
}
