[data-asri-enhance-coloredheading="true"].asri-enhance-enable {
    #asri-enhance-colored-heading, #asri-enhance-detail-adjustment {
        &:not(:hover):not(.b3-menu__item--show):not(.b3-menu__item--current) {
            color: var(--b3-theme-accent);
            & .b3-menu__icon {
                color: var(--b3-theme-accent);
            }
        }
    }
    $l: l;
    $c: c;
    .b3-typography,
    .protyle-wysiwyg {
        @for $i from 1 through 6 {
            $h: calc(h + #{$i * 50});
            h#{$i},
            [data-type=NodeHeading].h#{$i},
            [data-type=NodeHeading][data-subtype=h#{$i}] [spellcheck] {
                color: oklch(from var(--b3-theme-accent) $l $c $h);
            }
        }
    }
    .sy__outline,
    [data-type="sidebar-outline"] {
        @for $i from 1 through 6 {
            $h: calc(h + #{$i * 50});
            .b3-list-item[data-type=NodeHeading][data-subtype=h#{$i}] {
                .b3-list-item__text,
                .b3-list-item__graphic {
                    color: oklch(from var(--b3-theme-accent) $l $c $h);
                }
            }
        }
    }
}
