[data-asri-enhance-cover-image-fade="true"]:root {
    #asri-enhance-cover-image-fade, #asri-enhance-detail-adjustment {
        &:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
            color: var(--b3-theme-accent);
            .b3-menu__icon {
                color: var(--b3-theme-accent);
            }
        }
    }
    .protyle-background__img:not(body.body-asri--mobile .protyle-background__img) {
        --bgimg-top-space: 6px;
        --cover-image-fade-height: 0px;
        &:is(body.asri-tfp-progressive .protyle-background__img) {
            --cover-image-fade-height: 84px;
        }
        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          pointer-events: none;
          $offset: 30px;
          width: 100%;
          left: 0;
          height: calc(30vh + var(--cover-image-fade-height) - $offset);
          top: $offset;
          background: linear-gradient(
            to top,
            var(--b3-theme-background) 2%,
            rgb(from var(--b3-theme-background) r g b / 0.97) 9%,
            rgb(from var(--b3-theme-background) r g b / 0.9) 18%,
            rgb(from var(--b3-theme-background) r g b / 0.75) 33%,
            rgb(from var(--b3-theme-background) r g b / 0.05) 92%,
            transparent 99%
          );
        }
    }
    .protyle-background__icon {
        filter: drop-shadow(0px -8px 10px rgb(from var(--b3-theme-background) r g b / 0.5));
    }
}
