[data-asri-enhance-disable-window-transparency="true"]:is([data-theme-mode="light"][data-light-theme="Asri"], [data-theme-mode="dark"][data-dark-theme="Asri"]) {
    #asri-enhance-disable-window-transparency, #asri-enhance-detail-adjustment {
      &:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
          color: var(--b3-theme-accent);
          .b3-menu__icon {
              color: var(--b3-theme-accent);
          }
      }
    }
}
