[data-asri-enhance-global-frosted-glass="true"]:root {
    #asri-enhance-global-frosted-glass, #asri-enhance-detail-adjustment {
        &:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
            color: var(--b3-theme-accent);
            .b3-menu__icon {
                color: var(--b3-theme-accent);
            }
        }
    }
    &[data-theme-mode="light"] {
        --asri-enhance-global-frosted-glass-background: oklch(from var(--b3-theme-background) l c h / 0.7);
        --asri-enhance-global-frosted-glass-surface: oklch(from var(--b3-theme-surface) l c h / 0.7);
        --asri-enhance-global-frosted-glass-backdrop-filter: blur(20px) saturate(1.5) brightness(1.1);
        &[data-asri-palette="polar"] {
            --asri-enhance-global-frosted-glass-surface: var(--asri-enhance-global-frosted-glass-background);
        }
    }
    &[data-theme-mode="dark"] {
        --asri-enhance-global-frosted-glass-background: oklch(from var(--b3-theme-background) l c h / 0.7);
        --asri-enhance-global-frosted-glass-surface: oklch(from var(--b3-theme-surface) l c h / 0.7);
        --asri-enhance-global-frosted-glass-backdrop-filter: blur(20px) saturate(1.5) brightness(0.9);
        &[data-asri-palette="polar"] {
            --asri-enhance-global-frosted-glass-surface: var(--asri-enhance-global-frosted-glass-background);
        }
    }
    // 修改Asri本体毛玻璃效果
    body:not(.asri-disable-backdrop-blur) :is(.b3-menu,.b3-menu__submenu)::before {
        background-color: oklch(from var(--b3-menu-background) l c h / 0.7);
    }
    body:not(.asri-disable-backdrop-blur) #dockBottom.fn__none:not(.has-layout-dockb-float)~.status, body:not(.asri-disable-backdrop-blur).body-asri--mobile .status {
        background-color: oklch(from var(--b3-theme-surface) l c h / 0.7);
    }
    body:not(.asri-disable-backdrop-blur) .protyle-hint>div:not(.emojis) {
        background-color: oklch(from var(--b3-menu-background) l c h / 0.7);
    }
    body:not(.asri-disable-backdrop-blur) .protyle-toolbar {
        background-color: oklch(from var(--b3-theme-surface) l c h / 0.7);
        backdrop-filter: blur(6px) saturate(1.5) brightness(1.1);
        &:is([data-theme-mode="dark"] .protyle-toolbar) {
            backdrop-filter: blur(6px) saturate(1.5) brightness(0.9);
        }
    }
    body:not(.asri-disable-backdrop-blur) [data-type=wnd] #outerContainer #dialogContainer .dialog {
        background-color: oklch(from var(--b3-menu-background) l c h / 0.7);
    }
    body:not(.asri-disable-backdrop-blur) [data-type=wnd] #outerContainer #findbar:not(.fn__hidden), body:not(.asri-disable-backdrop-blur) [data-type=wnd] #outerContainer .pdf__util {
        background-color: oklch(from var(--b3-menu-background) l c h / 0.7);
    }
    body:not(.asri-disable-backdrop-blur) #message.b3-snackbars .b3-snackbar__content {
        background-color: oklch(from var(--b3-theme-surface) l c h / 0.7);
    }
    body:not(.asri-disable-backdrop-blur) .protyle-util {
        background-color: oklch(from var(--b3-menu-background) l c h / 0.7);
    }
    // 窗口
    @keyframes b3-dialog__scrim-blur {
        0% {
            backdrop-filter: blur(0px);
        }
        100% {
            backdrop-filter: blur(1px);
        }
    }
    .b3-dialog {
        .b3-dialog__scrim {
            background-color: transparent;
            transition: none;
            animation: b3-dialog__scrim-blur 0.3s ease-in-out forwards;
        }
        .b3-dialog__container {
            background-color: transparent;
            transition: none;
            border: unset;
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                z-index: -1;
                corner-shape: inherit;
                border-radius: inherit;
                background-color: var(--asri-enhance-global-frosted-glass-background);
                backdrop-filter: var(--asri-enhance-global-frosted-glass-backdrop-filter);
            }
            &:is([data-theme-mode="dark"] .b3-dialog__container) {
                &::before {
                    border: 1px solid var(--b3-border-color-trans);
                }
            }
            .config__tab-wrap {
                background-color: transparent;
                .config__tab-container {
                    background-color: transparent;
                }
            }
            .config__panel .b3-tab-bar {
                background-color: var(--asri-enhance-global-frosted-glass-surface);
            }
            .search__header {
                background: transparent;
                .b3-text-field {
                    background-color: transparent;
                }
            }
            .search__list,
            #searchList,
            #searchUnRefList {
                background-color: transparent;
            }
            .protyle:not(.fullscreen) {
                background-color: transparent;
                .protyle-breadcrumb {
                    background-color: transparent;
                }
                // 修复部分窗口毛玻璃失效
                .protyle-wysiwyg [data-node-id] {
                    z-index: 1; 
                }
            }
            .fullscreen {
                background-color: var(--asri-enhance-global-frosted-glass-background);
                backdrop-filter: var(--asri-enhance-global-frosted-glass-backdrop-filter);
                .protyle-breadcrumb {
                    background-color: transparent;
                }
                // 修复部分窗口毛玻璃失效
                .protyle-wysiwyg [data-node-id] {
                    z-index: 1; 
                }
            }
            .layout-tab-bar + .fn__flex-1 {
                background-color: transparent;
            }
        }
    }
    // 集市
    .config-bazaar__content .b3-card {
        background-color: transparent;
    }
    #configBazaarReadme {
        background-color: var(--asri-enhance-global-frosted-glass-background);
        backdrop-filter: var(--asri-enhance-global-frosted-glass-backdrop-filter);
        .item__side {
            background-color: var(--asri-enhance-global-frosted-glass-surface);
        }
        .item__main  {
            background-color: transparent;
        }
    }
    [data-name=bazaar] {
        .config-bazaar__panel {
            &::before {
                display: none;
            }
            .config-bazaar__title {
                background-color: transparent;
                input,
                select,
                button {
                    backdrop-filter: blur(20px);
                }
                button {
                    padding: 2px 4px;
                }
                .b3-form__icon-icon {
                    z-index: 1;
                }
            }
        }
    }
    // 账户
    .config-account {
        background-color: transparent;
        .config-account__center {
            background-color: transparent;
        }
        .config-account__cover[style="background-image: url()"] {
            background: radial-gradient(circle at bottom, oklch(from var(--b3-theme-primary) l calc(c * 1.05) h / 0.3) 30%, oklch(from var(--b3-theme-primary) l calc(c * 1.1) calc(h + 30) / 0.1) 85%) !important;
        }
    }
    // 弹出窗口
    .block__popover.block__popover--open {
        background-color: transparent;
        animation: none;
        border: unset;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            corner-shape: inherit;
            border-radius: inherit;
            background-color: var(--asri-enhance-global-frosted-glass-background);
            backdrop-filter: var(--asri-enhance-global-frosted-glass-backdrop-filter);
        }
        &:is([data-theme-mode="dark"] .block__popover.block__popover--open) {
            &::before {
                border: 1px solid var(--b3-border-color-trans);
            }
        }
        .block__icons {
            background-color: transparent;
        }
        .block__content {
            .protyle:not(.fullscreen) {
                background-color: transparent;
                .protyle-breadcrumb {
                    background-color: transparent;
                }
                // 修复部分窗口毛玻璃失效
                .protyle-wysiwyg [data-node-id] {
                    z-index: 1; 
                }
            }
        }
    }
    // 闪卡
    [data-key="dialog-opencard"],
    [data-key="dialog-viewcards"] {
        .b3-dialog {
            .b3-dialog__scrim {
                background-color: transparent !important;
            }
            .card__main {
                background-color: transparent;
            }
            .card__empty {
                background-color: transparent;
            }
        }
    }
    // 最近的文档
    [data-key="dialog-recentdocs"] {
        .b3-dialog {
            .b3-list--background:first-child {
                background-color: transparent;
            }
        }
    }
    // 数据历史
    [data-key="dialog-history"], [data-key="dialog-historycompare"] {
        .b3-dialog {
            .history__panel>.b3-list,
            .history__panel>.history__diff,
            .history__text {
                background-color: transparent;
            }
        }
    }
}