@use "../asri/asri-enhance" as *;
[data-asri-enhance-global-frosted-glass="true"].asri-enhance-enable {
    @include asri-enhance-item-highlight("#asri-enhance-global-frosted-glass", "#asri-enhance-detail-adjustment");
    &.asri-mode-light {
        --_blur-background: oklch(from var(--b3-theme-background) l c h/0.8);
        --_blur-before-shadow: 0 0 0 3px oklch(from var(--b3-theme-background) 0.25 0.03 h/0.3) inset;
        --_blur-after-shadow: 0 1px 2px -1.5px inset color(display-p3 1.8247962953 1.8247962953 1.8247962953), 0 -1px 1.5px -1.5px inset color(display-p3 1.8247962953 1.8247962953 1.8247962953 / .8), 0 4px 8px -4px color(display-p3 1.1941765347 1.1941765347 1.1941765347 / .2), 1px 0 0 0 oklch(from var(--b3-theme-background) 0.25 c h / 0.15), -1px 0 0 0 oklch(from var(--b3-theme-background) 0.25 c h / 0.15), 0 0 0 1px oklch(from var(--b3-theme-background) 0.25 c h / 0.1), 8px 0 16px 0px oklch(from var(--b3-theme-background) l c h / 0.6) inset, -8px 0 16px 0px oklch(from var(--b3-theme-background) l c h / 0.6) inset;
    }
    &.asri-mode-dark {
        --_blur-background: oklch(from var(--b3-theme-background) l c h/0.8);
        --_blur-before-shadow: 0 0 0 3px rgba(0,0,0,.8) inset;
        --_blur-after-shadow: 0 1px 1px -0.5px inset oklch(from var(--b3-theme-background) 0.96 c h/0.6),0 -1px 1px -0.5px inset oklch(from var(--b3-theme-background) 0.96 c h/0.4),1px 0 0 0 rgba(0,0,0,.2),-1px 0 0 0 rgba(0,0,0,.2),0 0 0 1px oklch(from var(--b3-theme-on-background) l 0.1 h/0.05) inset,8px 0 16px 0px oklch(from var(--b3-menu-background) calc(l + 0.05) c h/0.3) inset,-8px 0 16px 0px oklch(from var(--b3-menu-background) calc(l + 0.05) c h/0.3) inset;
    }
    @mixin blur-before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        border-radius: inherit;
        corner-shape: inherit;
        box-shadow: var(--_blur-before-shadow);
        filter: blur(7px);
        pointer-events: none;
        transform: translate(0px, 16px);
    }
    @mixin blur-after {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        corner-shape: inherit;
        z-index: -1;
        pointer-events: none;
        backdrop-filter: blur(4px) saturate(1.1);
        box-shadow: var(--_blur-after-shadow);
    }
    // 窗口
    @keyframes b3-dialog__scrim-blur {
        0% {
            backdrop-filter: blur(0px);
        }
        100% {
            backdrop-filter: blur(1px);
        }
    }
    .b3-dialog {
        .b3-dialog__scrim {
            background-color: transparent;
            transition: none;
            animation: b3-dialog__scrim-blur 0.2s forwards;
            z-index: -2;
        }
        .b3-dialog__container {
            background-color: var(--_blur-background);
            transition-property: transform;
            border: unset;
            box-shadow: none;
            overflow: visible;
            &::before {
                @include blur-before;
            }
            &::after {
                @include blur-after;
            }
            .config__tab-wrap {
                background-color: transparent;
                .config__tab-container {
                    background-color: transparent;
                }
            }
            .b3-dialog__content,
            .config__panel,
            .search__header,
            .search__header .b3-text-field,
            .search__preview:not(.fullscreen),
            .search__list,
            #searchList,
            #searchUnRefList,
            .protyle:not(.fullscreen),
            .protyle:not(.fullscreen) .protyle-breadcrumb,
            .layout-tab-bar + .fn__flex-1,
            .config-bazaar__content .b3-card,
            .card__main,
            .card__empty, 
            .history__panel>.b3-list,
            .history__panel>.history__diff,
            .history__text,
            .item__side,
            .item__main {
                background-color: transparent !important;
            }
            // 修复部分窗口毛玻璃失效
            .protyle-wysiwyg [data-node-id],
            .protyle-background {
                z-index: 1; 
            }
        }
    }
    // 弹出窗口
    .block__popover.block__popover--open {
        background-color: var(--_blur-background);
        transition-property: transform;
        border: unset;
        box-shadow: none;
        overflow: visible;
        &::before {
            @include blur-before;
        }
        &::after {
            @include blur-after;
        }
        .block__icons {
            background-color: transparent;
        }
        .block__content {
            .protyle:not(.fullscreen) {
                background-color: transparent;
                .protyle-breadcrumb {
                    background-color: transparent;
                }
                // 修复部分窗口毛玻璃失效
                .protyle-wysiwyg [data-node-id] {
                    z-index: 1; 
                }
            }
        }
    }
}