[data-asri-enhance-headinglevelhint="true"]:root {
    #asri-enhance-heading-level-hint,
    #asri-enhance-detail-adjustment {
        &:not(:hover):not(.b3-menu__item--show):not(.b3-menu__item--current) {
            color: var(--b3-theme-accent);
            & .b3-menu__icon {
                color: var(--b3-theme-accent);
            }
        }
    }
    .protyle-wysiwyg [data-type=NodeHeading]:not(.asri-selected-block) {
        &::before {
            display: block;
            overflow: visible;
            font-weight: 900;
            font-size: 2em;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 8px;
            color: inherit;
            opacity: 0.2;
            pointer-events: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            line-height: 1em;
            mask-image: linear-gradient(to bottom, black 20%, transparent 85%);
            -webkit-mask-image: linear-gradient(to bottom, black 20%, transparent 85%);
        }
        &[fold="1"] {
            &::before {
                height: unset;
                width: unset;
                background: unset;
                background-color: unset;
                left: unset;
                margin-top: unset;
                mask-image: linear-gradient(to bottom, black 40%, transparent 95%);
                -webkit-mask-image: linear-gradient(to bottom, black 40%, transparent 95%);
            }
        }
        @for $i from 1 through 6 {
            &.h#{$i}::before {
                content: "##{$i}";
            }
        }
    }
    &[data-asri-enhance-coloredheading="true"] {
        .protyle-wysiwyg [data-type=NodeHeading]:not(.asri-selected-block) {
        @for $i from 1 through 6 {
            &.h#{$i}::before {
                color: oklch(from var(--b3-theme-primary) l c calc(h + #{$i * 50}));
            }
        }
        }
        /* 极地配色 */
        &.asri-mode-light.asri-palette-polar {
            .protyle-wysiwyg [data-type=NodeHeading]:not(.asri-selected-block) {
                @for $i from 1 through 6 {
                &.h#{$i}::before {
                    color: oklch(from var(--b3-theme-primary) 0.45 0.5 calc(h + #{$i * 50}));
                }
            }
            }
        }
    }
}
