[data-asri-enhance-headinglevelhint="true"]:is([data-theme-mode="light"][data-light-theme="Asri"], [data-theme-mode="dark"][data-dark-theme="Asri"]) {
    #asri-enhance-heading-level-hint,
    #asri-enhance-detail-adjustment {
        &:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
            color: var(--b3-theme-accent);
            & .b3-menu__icon {
                color: var(--b3-theme-accent);
            }
        }
    }   
    .protyle-wysiwyg [data-type=NodeHeading]:not(.asri-selected-block) {
        &::before {
            display: block;
            overflow: visible;
            font-weight: 900;
            font-size: 2em;
            position: absolute;
            top: -0.36em;
            right: 8px;
            color: inherit;
            opacity: 0.2;
            pointer-events: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            mask-image: linear-gradient(to bottom, black 20%, transparent 85%);
            -webkit-mask-image: linear-gradient(to bottom, black 20%, transparent 85%);
        }
        &.h1::before {
            content: "#1";
        }
        &.h2::before {
            content: "#2";
        }
        &.h3::before {
            content: "#3";
        }
        &.h4::before {
            content: "#4";
        }
        &.h5::before {
            content: "#5";
        }
        &.h6::before {
            content: "#6";
        }
    }
    &[data-asri-enhance-coloredheading="true"] {
        .protyle-wysiwyg [data-type=NodeHeading]:not(.asri-selected-block) {
            &.h1::before {
                color: oklch(from var(--b3-theme-primary) l c calc(h + 50));
            }
            &.h2::before {
                color: oklch(from var(--b3-theme-primary) l c calc(h + 100));
            }
            &.h3::before {
                color: oklch(from var(--b3-theme-primary) l c calc(h + 150));
            }
            &.h4::before {
                color: oklch(from var(--b3-theme-primary) l c calc(h + 200));
            }
            &.h5::before {
                color: oklch(from var(--b3-theme-primary) l c calc(h + 250));
            }
            &.h6::before {
                color: oklch(from var(--b3-theme-primary) l c calc(h + 300));
            }
        }
    }
    /* 故障配色 */
    &[data-asri-palette="glitch"] {
        :is(h1, h2, h3, h4, h5, h6):not(.asri-selected-block),
        [data-type="NodeHeading"]:not(.asri-selected-block):not([style*="background-color"])::before {
            background: repeating-conic-gradient( var(--glitch-c1) 0 .00005%, var(--glitch-c2) 0 .00017%) 0 0/var(--glitch-s1) var(--glitch-s2);
            background-clip: text;
            color: transparent;
        }
    }
    /* 鎏金配色 */
    &[data-asri-palette="auriflow"] {
        :is(h1, h2, h3, h4, h5, h6):not(.asri-selected-block),
        [data-type="NodeHeading"]:not(.asri-selected-block):not([style*="background-color"])::before {
            background: repeating-radial-gradient(rgba(180, 135, 30, var(--foil-shadow-opacity)) 0 0.0001%, rgba(0, 0, 0, 0) 0 0.0002%) 30% 50%/2500px 2500px, repeating-conic-gradient(var(--foil-local-clr) 0 0.0001%, rgba(0, 0, 0, 0) 0 0.0002%) 60% 60%/2500px 2500px, repeating-conic-gradient(rgba(245, 227, 199, var(--foil-highlight-opacity)) 0 0.0001%, rgba(0, 0, 0, 0) 0 0.0002%) 50% 50%/2500px 2500px, var(--foil-base-clr);
            background-clip: text;
            color: transparent;
        }
    }
}
