[data-asri-enhance-hide-tab-breadcrumb="true"]:root {
    #asri-enhance-hide-tab-breadcrumb, #asri-enhance-detail-adjustment {
        &:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
            color: var(--b3-theme-accent);
            .b3-menu__icon {
                color: var(--b3-theme-accent);
            }
        }
    }
    body:not(.asri-tfp) #asri-enhance-hide-tab-breadcrumb {
        opacity: 0.38;
    }
    &[data-asri-enhance-vertical-tab="true"] #asri-enhance-hide-tab-breadcrumb {
        opacity: 0.38;
    }
    &:not([data-asri-enhance-vertical-tab="true"]) {
        body.asri-tfp:not(.body-asri--mobile) .fn__flex-column[data-type=wnd]>.fn__flex:first-child {
            transition: 0.3s cubic-bezier(0.47, 0, 0.75, 0.72);
            opacity: 0;
            filter: blur(3px);
            &:hover {
                opacity: 1;
                filter: blur(0px);
            }
            & + .layout-tab-container > .protyle {
                & > .protyle-breadcrumb {
                    & .protyle-breadcrumb__bar {
                        transition: 0.3s cubic-bezier(0.47, 0, 0.75, 0.72);
                        opacity: 0;
                        filter: blur(3px);
                        &:hover {
                            opacity: 1;
                            filter: blur(0px);
                            & ~ .protyle-breadcrumb__space ~ :is(.protyle-breadcrumb__icon, .block__icon) {
                                opacity: 0;
                                filter: blur(3px);
                            }
                        }
                    }
                    & .protyle-breadcrumb__space {
                        &:hover {
                            & ~ :is(.protyle-breadcrumb__icon, .block__icon) {
                                opacity: 0 !important;
                                filter: blur(3px) !important;
                            }
                        }
                        & ~ :is(.protyle-breadcrumb__icon, .block__icon) {
                            transition: 0.3s cubic-bezier(0.47, 0, 0.75, 0.72);
                            opacity: 0;
                            filter: blur(3px);
                            &[data-type="exit-focus"]:not(.fn__none) {
                                opacity: 1 !important;
                                filter: blur(0px) !important;
                                & ~ :is(.protyle-breadcrumb__icon, .block__icon) {
                                    opacity: 1 !important;
                                    filter: blur(0px) !important;
                                }
                            }
                        }
                    }
                    &:hover {
                        & .protyle-breadcrumb__space ~ :is(.protyle-breadcrumb__icon, .block__icon) {
                            opacity: 1;
                            filter: blur(0px);
                        }
                    }
                }
            }
        }
        .asri-tfp:not(.asri-disable-backdrop-blur,.body-asri--mobile).asri-tfp-progressive :where(.layout__wnd--active,[data-type=wnd]) .layout-tab-container {
            --pgbb: 0px !important;
           & .protyle {
                --pgbb: 0.25px !important;
           }
           & .protyle:not(#searchPreview,.card__block,.plugin-panel,.docs-flow__protyle) > .protyle-breadcrumb:not([slot])::before {
                display: none;
           }
           & > .protyle[data-loading=finished]::before {
                display: none;
           }
           & > .protyle[data-loading=finished]::after {
                display: none;
           }
           & > .protyle[data-loading=finished] .protyle-breadcrumb + .protyle-content::before {
                --mask-opacity-factor-light: 1.05;
                --mask-opacity-factor-dark: 1.05;
           }
        }
    }
}