.asri-enhance-experimental {
    vertical-align: -0.1em;
    height: 0.8em;
    width: 0.8em;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    &:hover {
        opacity: 1;
    }
}
[data-asri-enhance-liquid-glass="true"]:is([data-theme-mode="light"][data-light-theme="Asri"], [data-theme-mode="dark"][data-dark-theme="Asri"]) {
    #asri-enhance-liquid-glass {
        &:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
            color: var(--b3-theme-accent);
            .b3-menu__icon {
                color: var(--b3-theme-accent);
            }
        }
    }
    &[data-theme-mode="light"] {
        --asri-liquid-glass-color: black;
    }
    &[data-theme-mode="dark"] {
        --asri-liquid-glass-color: white;
    }
    @supports not ((-moz-appearance: none) or (hanging-punctuation: first)) {
        .protyle-toolbar {
            background-color: oklch(from var(--b3-theme-background) l c h / 0.55);
            backdrop-filter: blur(1px) saturate(1.5) url(#asri-enhance-liquid-glass-toolbar);
            & .protyle-toolbar__item:not(.protyle-toolbar__item--current) {
                color: var(--asri-liquid-glass-color);
            }
        }
        .b3-switch {
            &::after {
                transition: transform 0.3s cubic-bezier(0.25, 0.19, 0.4, 1.52);
            }
            &:active {
                filter: none;
                &::after {
                    background-color: transparent;
                    transform: translateX(0px) scale(1.55) scaleX(1.2);
                    backdrop-filter: saturate(1.5) url(#asri-enhance-liquid-glass-switch);
                    box-shadow: inset -0.5px -0.5px 0.5px rgba(0,0,0,.15), inset  0.5px  0.5px 0.5px rgba(255,255,255,.45), -0.5px -0.5px 0.5px rgba(0,0,0,.06), -1px -1px 1px rgba(0,0,0,.08);
                }
                &:checked {
                    &::after {
                        transform: translateX(12px) scale(1.55) scaleX(1.2);
                        box-shadow: inset 0.5px 0.5px 0.5px rgba(0, 0, 0, .15), inset -0.5px -0.5px 0.5px rgba(255, 255, 255, 0.45), 0 0 0.5px rgba(0, 0, 0, .06), 0 0.5px 1px rgba(0, 0, 0, .08);
                    }
                }
                &:is([data-theme-mode="dark"] .b3-switch:active::after) {
                    box-shadow: 0 1px 4px -1px rgb(255 255 255 / 15%) inset;
                }
            }
        }
        .b3-slider {
            &:not(:focus):hover::-webkit-slider-thumb {
                transform: none;
                outline: none;
            }
            &:focus::-webkit-slider-thumb {
                outline: none;
                transform: scale(1.3);
                background-color: transparent;
                backdrop-filter: blur(1px) saturate(1.5);
                box-shadow: inset 1px 1px 2px -2px rgb(0 0 0),inset -1px -1px 2px -2px rgb(0 0 0), inset 1px 1px 2px rgba(255, 255, 255, 0.5), inset -1px -1px 2px rgba(255, 255, 255, 0.5), inset 0 4px 16px rgba(255, 255, 255, 0.025), inset 0 -8px 48px rgba(0, 0, 0, 0.02), 0 0 8px rgba(0, 0, 0, 0.025), 0 4px 48px rgba(0, 0, 0, 0.15);
            }
        }
        .protyle-background .protyle-icons {
            mix-blend-mode: luminosity;
            backdrop-filter: url(#asri-enhance-liquid-glass-protyle-icons-1);
            & .protyle-icon {
                background-color: oklch(from var(--b3-theme-background) l c h / 0.25);
                color: var(--asri-liquid-glass-color);
            }
            &:has( > [data-type="position"]:not(.fn__none)) {
                backdrop-filter: saturate(1.5) url(#asri-enhance-liquid-glass-protyle-icons-2);
            }
            &:has( > .protyle-icon--text) {
                backdrop-filter: saturate(1.5) url(#asri-enhance-liquid-glass-protyle-icons-3);
            }
            &:has( > .protyle-icon--first + .protyle-icon--last) {
                backdrop-filter: saturate(1.5) url(#asri-enhance-liquid-glass-protyle-icons-4);      
            }
            // 随机题头图plus插件
            &:has( > [data-link="more-background"]) {
                backdrop-filter: saturate(1.5) url(#asri-enhance-liquid-glass-protyle-icons-2);
            }
            &:has( > [data-link="more-background"] ~ [data-type="position"]:not(.fn__none)) {
                backdrop-filter: saturate(1.5) url(#asri-enhance-liquid-glass-protyle-icons-5);
            }
            &::before {
                --asri-enhance-liquid-glass-glow-color: #ffffffcc;
                --asri-enhance-liquid-glass-glow-angle: 165deg;
                --asri-enhance-liquid-glass-glow-width: 1px;
                --asri-enhance-liquid-glass-glow-range: 45%;
                content: "";
                position: absolute;
                inset: 0; 
                border-radius: inherit; 
                padding: var(--asri-enhance-liquid-glass-glow-width); 
                background: linear-gradient(var(--asri-enhance-liquid-glass-glow-angle), var(--asri-enhance-liquid-glass-glow-color) 0%, transparent var(--asri-enhance-liquid-glass-glow-range), transparent calc(100% - var(--asri-enhance-liquid-glass-glow-range)), var(--asri-enhance-liquid-glass-glow-color) 100%);
                mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                pointer-events: none;
                filter: blur(1px);
            }
        }
        .protyle-background__action:not(.b3-chips__doctag .protyle-background__action) {
            mix-blend-mode: luminosity;
            background-color: oklch(from var(--b3-theme-background) l c h / 0.25);
            color: var(--asri-liquid-glass-color);
            backdrop-filter: saturate(1.5) url(#asri-enhance-liquid-glass-protyle-background__action);
            & .b3-button {
                color: var(--asri-liquid-glass-color);
            }
            &::before {
                --asri-enhance-liquid-glass-glow-color: #ffffffcc;
                --asri-enhance-liquid-glass-glow-angle: 165deg;
                --asri-enhance-liquid-glass-glow-width: 1px;
                --asri-enhance-liquid-glass-glow-range: 45%;
                content: "";
                position: absolute;
                inset: 0; 
                border-radius: inherit; 
                padding: var(--asri-enhance-liquid-glass-glow-width); 
                background: linear-gradient(var(--asri-enhance-liquid-glass-glow-angle), var(--asri-enhance-liquid-glass-glow-color) 0%, transparent var(--asri-enhance-liquid-glass-glow-range), transparent calc(100% - var(--asri-enhance-liquid-glass-glow-range)), var(--asri-enhance-liquid-glass-glow-color) 100%);
                mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                pointer-events: none;
                filter: blur(1px);
            }
        }
        .protyle-wysiwyg .protyle-icons {
            mix-blend-mode: luminosity;
            & .protyle-icon {
                background-color: oklch(from var(--b3-theme-background) l c h / 0.35);
                color: var(--asri-liquid-glass-color);
            }
            &:has( > .protyle-icon--only) {
                backdrop-filter: saturate(1.5) url(#asri-enhance-liquid-glass-protyle-icons-pw-1);
            }
            &:has( > .protyle-icon--first + .protyle-icon--last) {
                backdrop-filter: saturate(1.5) url(#asri-enhance-liquid-glass-protyle-icons-pw-2);      
            }
            &:has( > .protyle-icon--first + .protyle-icon + .protyle-icon--last) {
                backdrop-filter: saturate(1.5) url(#asri-enhance-liquid-glass-protyle-icons-pw-3);      
            }
            &:has( > .protyle-icon--first + .protyle-icon + .protyle-icon + .protyle-icon--last) {
                backdrop-filter: saturate(1.5) url(#asri-enhance-liquid-glass-protyle-icons-pw-4);      
            }
            &::before {
                --asri-enhance-liquid-glass-glow-color: #ffffffcc;
                --asri-enhance-liquid-glass-glow-angle: 165deg;
                --asri-enhance-liquid-glass-glow-width: 1px;
                --asri-enhance-liquid-glass-glow-range: 45%;
                content: "";
                position: absolute;
                inset: 0; 
                border-radius: inherit; 
                padding: var(--asri-enhance-liquid-glass-glow-width); 
                background: linear-gradient(var(--asri-enhance-liquid-glass-glow-angle), var(--asri-enhance-liquid-glass-glow-color) 0%, transparent var(--asri-enhance-liquid-glass-glow-range), transparent calc(100% - var(--asri-enhance-liquid-glass-glow-range)), var(--asri-enhance-liquid-glass-glow-color) 100%);
                mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                pointer-events: none;
                filter: blur(1px);
            }
        }
    }
}
