[data-asri-enhance-multicolslashmenu="true"].asri-enhance-enable {
    #asri-enhance-multicolslashmenu, #asri-enhance-detail-adjustment {
        &:not(:hover):not(.b3-menu__item--show):not(.b3-menu__item--current) {
            color: var(--b3-theme-accent);
            .b3-menu__icon {
                color: var(--b3-theme-accent);
            }
        }
    }
    @mixin multicol-menu($min-width, $column-width) {
        .protyle-hint.hint--menu {   
            max-height: min(80vh, 550px);
            max-width: unset;
            & > div {
                min-width: $min-width;
                column-rule: 1px outset var(--b3-border-color-trans);
                column-width: $column-width;
                padding: 5px;
                & > .b3-menu__separator { 
                    margin: 5px 6px;
                    width: calc(100% - 12px);
                }
                & > .b3-list-item { 
                    margin: 1px auto;
                    width: 100% !important;;
                    &:first-child {
                        margin-top: 0;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    @media screen and (min-width: 1000px) { @include multicol-menu(800px, 150px); }
}
