[data-asri-enhance-sidebar-top-sticky="true"]:is([data-theme-mode="light"][data-light-theme="Asri"], [data-theme-mode="dark"][data-dark-theme="Asri"]) {
    #asri-enhance-sidebar-top-sticky, #asri-enhance-detail-adjustment {
        &:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
            color: var(--b3-theme-accent);
            .b3-menu__icon {
                color: var(--b3-theme-accent);
            }
        }
    }
    body:not(.body-asri--mobile) .file-tree .block__icons {
        min-height: 42px;
        transition: none;
        &::before {
            display: none;
        }
        & .block__icon {
            transition: opacity 0.3s;
        }
        &:not(:hover) {
            & .block__logo {
                transform: none;
                opacity: 1 !important;
            }
            & .block__icon {
                transform: none;
                opacity: 0;
            }
        }
        &:hover {
            & .block__logo {
                transform: none;
                opacity: 1;
            }
            & .block__icon {
                transform: none;
                opacity: 1;
            }
        }
    }
}
