[data-asri-enhance-sidebar-top-sticky="true"]:is([data-theme-mode="light"][data-light-theme="Asri"], [data-theme-mode="dark"][data-dark-theme="Asri"]) {
    #asri-enhance-sidebar-top-sticky, #asri-enhance-detail-adjustment {
        &:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
            color: var(--b3-theme-accent);
            .b3-menu__icon {
                color: var(--b3-theme-accent);
            }
        }
    }
    body:not(.body-asri--mobile) .file-tree .block__icons {
        min-height: 42px;
        transition: none;
        &::before {
            display: none;
        }
        & > :is(div, span) {
            transform: none;
            transition: 0.3s cubic-bezier(0.47, 0, 0.75, 0.72);
            &:not(.block__icon) {
                opacity: 1 !important;
            }
            &.block__icon {
                opacity: 0;
                filter: blur(3px);
            }
        }
        &:hover > :is(div, span) {
            &.block__icon {
                opacity: 1;
                filter: none;
            }
        }
    }
}
