@use "../asri/asri" as *;
[data-asri-enhance-wholewindowtransparency="true"]:is([data-theme-mode="light"][data-light-theme="Asri"], [data-theme-mode="dark"][data-dark-theme="Asri"]) {
    #asri-enhance-wholewindowtransparency {
        &:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
            color: var(--b3-theme-accent);
            .b3-menu__icon {
                color: var(--b3-theme-accent);
            }
        }
    }
    &[data-theme-mode="light"] {
        --asri-enhance-whole-window-transparency-base: var(--b3-theme-background);
        --asri-enhance-whole-window-transparency-dockl: oklch(from var(--b3-theme-surface) l c h / calc(1 - var(--asri-enhance-windowtransparency-value)));
        --asri-enhance-whole-window-transparency-other: oklch(from var(--asri-enhance-whole-window-transparency-base) l c h / calc(1.1 - var(--asri-enhance-windowtransparency-value)));
    }
    &[data-theme-mode="dark"] {
        --asri-enhance-whole-window-transparency-base: var(--b3-theme-background);
        --asri-enhance-whole-window-transparency-dockl: oklch(from var(--b3-theme-surface) l c h / calc(1 - var(--asri-enhance-windowtransparency-value)));
        --asri-enhance-whole-window-transparency-other: oklch(from var(--asri-enhance-whole-window-transparency-base) l c h / calc(1.1 - var(--asri-enhance-windowtransparency-value)));
    }
    &[data-asri-palette="polar"]:is([data-theme-mode="light"], [data-theme-mode="dark"]) {
        --asri-enhance-whole-window-transparency-base: var(--b3-theme-background);
        --asri-enhance-whole-window-transparency-dockl: oklch(from var(--b3-theme-background) l c h / calc(1 - var(--asri-enhance-windowtransparency-value)));
        --asri-enhance-whole-window-transparency-other: oklch(from var(--asri-enhance-whole-window-transparency-base) l c h / calc(1 - var(--asri-enhance-windowtransparency-value)));
    }
    &[data-asri-enhance-windowtransparencyvalue="1"]:not([data-asri-palette="polar"]):is([data-theme-mode="light"], [data-theme-mode="dark"]) {
        --asri-enhance-whole-window-transparency-base: var(--b3-theme-surface);
        --asri-enhance-whole-window-transparency-dockl: oklch(from var(--b3-theme-surface) l c h / calc(1 - var(--asri-enhance-windowtransparency-value)));
        --asri-enhance-whole-window-transparency-other: oklch(from var(--asri-enhance-whole-window-transparency-base) l c h / calc(1 - var(--asri-enhance-windowtransparency-value)));
        .layout__dockl + .layout__resize--lr::after {
            background-color: var(--b3-border-color-trans);
        }
    }
    body.asri-vibrancy:not(.body-asri--browser,.body-asri--fullscreen) {
        #{$dockl-transparency-selectors} {
            background-color: var(--asri-enhance-whole-window-transparency-dockl) !important;
        }
        #{$other-transparency-selectors} {
            background-color: var(--asri-enhance-whole-window-transparency-other) !important;
        }
        .fn__flex-column[data-type=wnd]>.fn__flex:first-child {
            background-color: transparent;
            & ~ .layout-tab-container {
                background-color: transparent;
                & .protyle:not(.fullscreen) {
                    background-color: transparent;
                    & .protyle-breadcrumb {
                        background-color: transparent;          
                    }
                }
            }
        }
        .layout__empty {
            background-color: transparent;
        }
        #dockLeft {
            &::before {
                display: none       
            }
            &:not(.dock-layout-expanded) {
                border-right: none;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 48px;
                    width: 1px;
                    height: calc(100% - 48px);
                    background-color: var(--b3-border-color-trans);
                    transition: display 0.4s allow-discrete, opacity 0.3s ease 0.1s;
                }
            }
        }
        @starting-style {
            #dockLeft:not(.dock-layout-expanded)::after {
                opacity: 0;
            }
        }
        .layout__dockl.layout--float::before {
            display: none;
        }
        // 导出预览
        .protyle-preview {
            background-color: transparent;
        }
        .protyle .protyle-preview__action {
            background-color: transparent;
        }
        // 数据库
        .av .av__views .layout-tab-bar .item--focus:not([data-theme-mode=dark] .item--focus) {
            background-color: #ffffff99 !important;
        }
        .av__row--header:not([style*=transform]), .av__row--footer, .av__colsticky {
            background-color: transparent;
        }
        .av .av__title:has( + .av__counter:not(.fn__none)) {
            opacity: 0;
        }
        .av__counter {
            background-color: transparent;
            color: var(--b3-theme-accent);
        }
        .av__row .av__cell:not(.av__cell--header):hover .block__icon {
            background-color: oklch(from var(--asri-enhance-whole-window-transparency-base) l c h / 0.3) !important;
        }
        .av__gallery-item::before,
        .av__gallery-cover {
            background-color: transparent;
        }
        .av__gallery-cover .av__gallery-content~::after, .av__gallery-cover:empty::after {
            display: none;
        }
        // 状态栏
        &:not(.asri-disable-backdrop-blur) #dockBottom.fn__none:not(.has-layout-dockb-float)~.status, 
        &:not(.asri-disable-backdrop-blur).body-asri--mobile .status {
            background-color: oklch(from var(--asri-enhance-whole-window-transparency-base) l c h / 0.3);
        }
        // 闪卡在页签打开
        [data-type="wnd"] .card__main {
            background-color: transparent;
            .card__empty {
                background-color: transparent;
            }
        }
        // 搜索在页签打开
        [data-type="wnd"] {
            .search__header {
                background: transparent;
            }
            .search__list {
                background-color: transparent !important;
            }
        }
        // 垂直页签
        &:not(.body-asri--mobilem, .body--window) {
            & .asri-enhance-verticaltab {
                & .layout-tab-container > .protyle > .protyle-breadcrumb {
                    & .protyle-breadcrumb__bar {
                        background-color: oklch(from var(--asri-enhance-whole-window-transparency-base) l c h / 0.3);
                    }
                }
            }
        }
        // 表格
        .protyle-wysiwyg [data-node-id].table table thead tr th,
        .protyle-wysiwyg [data-node-id].table table tbody tr:nth-child(2n) td {
            background-color: oklch(from var(--asri-enhance-whole-window-transparency-base) l c h/ 0.3);
        }
        // kbd元素
        .protyle-wysiwyg kbd,
        .protyle-wysiwyg span[data-type~=kbd] {
            background-color: oklch(from var(--asri-enhance-whole-window-transparency-base) l c h/ 0.7);
        }
        // 反链面板
        .sy__backlink .block__icons+.fn__flex-1 li:not(.b3-list--empty) {
            background-color: var(--b3-list-hover);
            backdrop-filter: blur(6px);
            &:hover {
                background-color: oklch(from var(--b3-theme-primary) 0.5 calc(c * 0.9 * var(--asri-c-0, 1)) h/0.1) !important;
            }
            &:is([data-theme-mode="dark"] li) {
                &:hover {
                    background-color: oklch(from var(--b3-theme-primary) 0.9 calc(c * 0.9 * var(--asri-c-0, 1)) h/0.13) !important;
                }
            }
        }
    }
}