@use "../asri/asri" as *;
[data-asri-enhance-windowtransparencyvalue]:is([data-theme-mode="light"][data-light-theme="Asri"], [data-theme-mode="dark"][data-dark-theme="Asri"]):root {
    #asri-enhance-windowtransparencyvalue {
        background-color: transparent !important;
        &:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
            color: var(--b3-theme-accent);
            .b3-menu__icon {
                color: var(--b3-theme-accent);
            }
        }
    }
    &[data-asri-enhance-windowtransparencyvalue="0"] {
        --asri-enhance-windowtransparency-value: 0;
    }
    &[data-asri-enhance-windowtransparencyvalue="0.05"] {
        --asri-enhance-windowtransparency-value: 0.05;
    }
    &[data-asri-enhance-windowtransparencyvalue="0.1"] {
        --asri-enhance-windowtransparency-value: 0.1;
    }
    &[data-asri-enhance-windowtransparencyvalue="0.15"] {
        --asri-enhance-windowtransparency-value: 0.15;
    }
    &[data-asri-enhance-windowtransparencyvalue="0.2"] {
        --asri-enhance-windowtransparency-value: 0.2;
    }
    &[data-asri-enhance-windowtransparencyvalue="0.25"] {
        --asri-enhance-windowtransparency-value: 0.25;
    }
    &[data-asri-enhance-windowtransparencyvalue="0.3"] {
        --asri-enhance-windowtransparency-value: 0.3;
    }
    &[data-asri-enhance-windowtransparencyvalue="0.35"] {
        --asri-enhance-windowtransparency-value: 0.35;
    }
    &[data-asri-enhance-windowtransparencyvalue="0.4"] {
        --asri-enhance-windowtransparency-value: 0.4;
    }
    &[data-asri-enhance-windowtransparencyvalue="0.45"] {
        --asri-enhance-windowtransparency-value: 0.45;
    }
    &[data-asri-enhance-windowtransparencyvalue="0.5"] {
        --asri-enhance-windowtransparency-value: 0.5;
    }
    &[data-asri-enhance-windowtransparencyvalue="0.55"] {
        --asri-enhance-windowtransparency-value: 0.55;
    }
    &[data-asri-enhance-windowtransparencyvalue="0.6"] {
        --asri-enhance-windowtransparency-value: 0.6;
    }
    &[data-asri-enhance-windowtransparencyvalue="0.65"] {
        --asri-enhance-windowtransparency-value: 0.65;
    }
    &[data-asri-enhance-windowtransparencyvalue="0.7"] {
        --asri-enhance-windowtransparency-value: 0.7;
    }
    &[data-asri-enhance-windowtransparencyvalue="0.75"] {
        --asri-enhance-windowtransparency-value: 0.75;
    }
    &[data-asri-enhance-windowtransparencyvalue="0.8"] {
        --asri-enhance-windowtransparency-value: 0.8;
    }
    &[data-asri-enhance-windowtransparencyvalue="0.85"] {
        --asri-enhance-windowtransparency-value: 0.85;
    }
    &[data-asri-enhance-windowtransparencyvalue="0.9"] {
        --asri-enhance-windowtransparency-value: 0.9;
    }
    &[data-asri-enhance-windowtransparencyvalue="0.95"] {
        --asri-enhance-windowtransparency-value: 0.95;
    }
    &[data-asri-enhance-windowtransparencyvalue="1"] {
        --asri-enhance-windowtransparency-value: 1;
    }
    &:not([data-asri-enhance-wholewindowtransparency="true"]) {
        body.asri-vibrancy:not(.body-asri--browser,.body-asri--fullscreen)  {
            #{$dockl-transparency-selectors} {
                background-color: oklch(from var(--b3-theme-surface) l c h / calc(1 - var(--asri-enhance-windowtransparency-value))) !important;
            }
        }
    }
}
