@use "../asri/asri" as *;
[data-asri-enhance-windowtransparencyvalue]:root {
    #asri-enhance-windowtransparencyvalue {
        background-color: transparent !important;
        background: unset !important;
        &:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
            color: var(--b3-theme-accent);
            .b3-menu__icon {
                color: var(--b3-theme-accent);
            }
        }
    }
    @for $i from 0 through 20 {
        $value: $i * 0.05;
        &[data-asri-enhance-windowtransparencyvalue="#{$value}"] {
            --asri-enhance-windowtransparency-value: #{$value};
        }
    }
    &:not([data-asri-enhance-wholewindowtransparency="true"]) {
        body.asri-vibrancy:not(.body-asri--browser,.body-asri--fullscreen)  {
            #{$dockl-transparency-selectors} {
                background-color: oklch(from var(--b3-theme-surface) l c h / calc(1 - var(--asri-enhance-windowtransparency-value))) !important;
            }
        }
    }
}
