@use "../asri/asri" as *;
@use "../asri/asri-enhance" as *;
[data-asri-enhance-windowtransparencyvalue].asri-enhance-enable {
    @include asri-enhance-item-highlight("#asri-enhance-windowtransparencyvalue");
    #asri-enhance-windowtransparencyvalue {
        background-color: transparent !important;
        background: unset !important;
        .b3-tooltips {
            flex-grow: 1;
        }
    }
    @for $i from 0 through 100 {
        $value: $i * 0.01;
        &[data-asri-enhance-windowtransparencyvalue="#{$value}"] {
            --asri-enhance-windowtransparency-value: #{$value};
        }
    }
    &:not([data-asri-enhance-wholewindowtransparency="true"]) {
        body.asri-vibrancy:not(.body-asri--browser):not(.body--fullscreen)  {
            #{$dockl-transparency-selectors} {
                background-color: oklch(from var(--b3-theme-surface) l c h / calc(1 - var(--asri-enhance-windowtransparency-value))) !important;
            }
        }
    }
}