@use "../asri/asri-enhance" as *;
[data-asri-enhance-typewriter="true"].asri-enhance-enable {
    @include asri-enhance-item-highlight("#asri-enhance-typewriter", "#asri-enhance-immersive");
    .protyle-content {
        transform: translateZ(0);
        backface-visibility: hidden;
        perspective: 1000px;
        will-change: scroll-position;
        scroll-behavior: auto;
    }
}