[data-asri-enhance-acrylic="true"]:root {
    #asri-enhance-texture, #asri-enhance-acrylic {
        &:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
            color: var(--b3-theme-accent);
            .b3-menu__icon {
                color: var(--b3-theme-accent);
            }
        }
    }
    --asri-enhance-acrylic-texture: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><filter id='noise'><feTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='3' /></filter><rect width='100%' height='100%' filter='url(%23noise)' /></svg>");
    body {
        &::before {
            content: "";
            position: fixed;
            width: 100%;
            height: 100%;
            background-image: var(--asri-enhance-acrylic-texture);
            background-repeat: repeat;
            background-color: var(--b3-theme-background);
            mix-blend-mode: multiply;
            opacity: 0.25;
            pointer-events: none;
            z-index: 99;
        }
    }
    &[data-theme-mode="dark"] {
        body {
            &::before {
                opacity: 0.25;
                mix-blend-mode: color-dodge;
            }
        }
    }
}