[data-asri-enhance-checkerboard="true"]:root {
    #asri-enhance-texture, #asri-enhance-checkerboard {
        &:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
            color: var(--b3-theme-accent);
            .b3-menu__icon {
                color: var(--b3-theme-accent);
            }
        }
    }
    body {
        &::before {
            content: "";
            position: fixed;
            width: 100%;
            height: 100%;
            background-repeat: repeat;
            mix-blend-mode: unset;
            opacity: 0.02;
            pointer-events: none;
            z-index: 99;
            background-image: repeating-conic-gradient(var(--b3-theme-background) 0% 25%, var(--b3-theme-on-background) 0% 50%);
            background-position: 0 0, 32px 32px;
            background-size: 64px 64px;
            background-color: transparent;
        }
    }
    &[data-theme-mode="dark"] {
        body {
            &::before {
                opacity: 0.01;
            }
        }
    }
}
