@use "../asri/asri-enhance" as *;
.asri-mode-light.asri-enhance-enable {
    .config__item-asri-enhance-customimage-opacity-dark,
    .config__item-asri-enhance-customimage-effect-dark,
    .config__item-asri-enhance-customimage-brightness-dark,
    .config__item-asri-enhance-customimage-saturation-dark,
    .config__item-asri-enhance-customimage-contrast-dark,
    .config__item-asri-enhance-customimage-grayscale-dark,
    .config__item-asri-enhance-customimage-hue-rotate-dark {
        display: none;
    }
}
.asri-mode-dark.asri-enhance-enable {
    .config__item-asri-enhance-customimage-opacity-light,
    .config__item-asri-enhance-customimage-effect-light,
    .config__item-asri-enhance-customimage-brightness-light,
    .config__item-asri-enhance-customimage-saturation-light,
    .config__item-asri-enhance-customimage-contrast-light,
    .config__item-asri-enhance-customimage-grayscale-light,
    .config__item-asri-enhance-customimage-hue-rotate-light {
        display: none;
    }
}
.asri-enhance-enable {
    [data-key="dialog-asri-enhance-customimage-settings"] {
        .config__item {
            border: none;
        }
        &:not(.asri-enhance-customimage-detail) {
            .config__item-asri-enhance-customimage-effect-dark ~ .config__item {
                display: none;
            }
        }
    }
}
[data-asri-enhance-customimage="true"].asri-enhance-enable {
    @include asri-enhance-item-highlight("#asri-enhance-texture", "#asri-enhance-customimage");
    body {
        &::before {
            content: "";
            position: fixed;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-color: var(--b3-theme-background);
            pointer-events: none;
            z-index: 99;
            background-image: var(--asri-enhance-customimage-url);
            opacity: var(--asri-enhance-customimage-opacity-light);
            filter: blur(var(--asri-enhance-customimage-blur)) brightness(var(--asri-enhance-customimage-brightness-light)) saturate(var(--asri-enhance-customimage-saturation-light)) contrast(var(--asri-enhance-customimage-contrast-light)) grayscale(var(--asri-enhance-customimage-grayscale-light)) hue-rotate(var(--asri-enhance-customimage-hue-rotate-light));
            mix-blend-mode: var(--asri-enhance-customimage-effect-light);
            background-position: var(--asri-enhance-customimage-x) var(--asri-enhance-customimage-y);
        }
    }
    &.asri-mode-dark {
        body {
            &::before {
                opacity: var(--asri-enhance-customimage-opacity-dark);
                filter: blur(var(--asri-enhance-customimage-blur)) brightness(var(--asri-enhance-customimage-brightness-dark)) saturate(var(--asri-enhance-customimage-saturation-dark)) contrast(var(--asri-enhance-customimage-contrast-dark)) grayscale(var(--asri-enhance-customimage-grayscale-dark)) hue-rotate(var(--asri-enhance-customimage-hue-rotate-dark));
                mix-blend-mode: var(--asri-enhance-customimage-effect-dark);
            }
        }
    }
    // 磨砂
    --asri-enhance-customimage-frosted-texture: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><filter id='noise'><feTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='3' /></filter><rect width='100%' height='100%' filter='url(%23noise)' /></svg>");
    body {
        &::after {
            display: var(--asri-enhance-customimage-frosted);
            content: "";
            position: fixed;
            width: 100%;
            height: 100%;
            background-image: var(--asri-enhance-customimage-frosted-texture);
            background-repeat: repeat;
            background-color: var(--b3-theme-background);
            mix-blend-mode: multiply;
            opacity: 0.25;
            pointer-events: none;
            z-index: 99;
        }
    }
    &.asri-mode-dark {
        body {
            &::after {
                opacity: 0.25;
                mix-blend-mode: color-dodge;
            }
        }
    }
}
