@use "../asri/asri-enhance" as *;
[data-asri-enhance-grid="true"].asri-enhance-enable {
    @include asri-enhance-item-highlight("#asri-enhance-texture", "#asri-enhance-grid");
    body {
        &::before {
            content: "";
            position: fixed;
            width: 100%;
            height: 100%;
            background-repeat: repeat;
            mix-blend-mode: unset;
            opacity: 0.032;
            pointer-events: none;
            z-index: 99;
            background-image: linear-gradient(var(--b3-theme-on-background) 1px, transparent 1px), linear-gradient(to right, var(--b3-theme-on-background) 1px, transparent 1px);
            background-size: 32px 32px;
            background-color: transparent;
        }
    }
    &.asri-mode-dark {
        body {
            &::before {
                opacity: 0.025;
            }
        }
    }
}
