[data-asri-enhance-grid="true"]:root {
    #asri-enhance-texture, #asri-enhance-grid {
        &:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
            color: var(--b3-theme-accent);
            .b3-menu__icon {
                color: var(--b3-theme-accent);
            }
        }
    }
    body:not(.body-asri--mobile) {
        &::before {
            content: "";
            position: fixed;
            width: 100%;
            height: 100%;
            background-repeat: repeat;
            mix-blend-mode: unset;
            opacity: 0.032;
            pointer-events: none;
            z-index: 99;
            background-image: linear-gradient(var(--b3-theme-on-background) 1px, transparent 1px), linear-gradient(to right, var(--b3-theme-on-background) 1px, transparent 1px);
            background-size: 32px 32px;
            background-color: transparent;
        }
    }
    &[data-theme-mode="dark"] {
        body:not(.body-asri--mobile) {
            &::before {
                opacity: 0.025;
            }
        }
    }
}
