[data-asri-enhance-polkadot="true"]:root {
    #asri-enhance-texture, #asri-enhance-polkadot {
        &:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
            color: var(--b3-theme-accent);
            .b3-menu__icon {
                color: var(--b3-theme-accent);
            }
        }
    }
    body {
        &::before {
            content: "";
            position: fixed;
            width: 100%;
            height: 100%;
            background-repeat: repeat;
            mix-blend-mode: unset;
            opacity: 0.065;
            pointer-events: none;
            z-index: 99;
            background-image: radial-gradient(var(--b3-theme-on-background) 1.5px, transparent 1.5px);
            background-size: 30px 30px;
            background-color: transparent;
        }
    }
    &[data-theme-mode="dark"] {
        body {
            &::before {
                opacity: 0.045;
            }
        }
    }
}
