@use "../asri/asri" as *;
@property --asri-enhance-follow-time-vary {
    syntax: '<integer>';
    inherits: false;
    initial-value: 0;
}
@keyframes asri-enhance-follow-time-vary {
    0% { --asri-enhance-follow-time-vary: 0; }
    100% { --asri-enhance-follow-time-vary: 360; }
}
#asri-enhance-followtime-colorpicker {
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    margin-left: -2px;
}
[data-asri-enhance-follow-time="true"]:root {
    animation: asri-enhance-follow-time-vary 180s linear infinite;
    .asri-config:not(#topbarFusionPlus) {
        --b3-theme-accent: var(--b3-theme-on-background);
    }
    #asri-enhance-follow-time {
        & svg {
            background-color: var(--b3-theme-primary);
            border-radius: 15px
        }
        &:is(:hover, .b3-menu__item--show, .b3-menu__item--current) svg {
            outline: 1px solid oklch(from var(--b3-theme-on-primary) l c h / 0.5);
        }
        &:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
            color: var(--b3-theme-accent);
        }
    }
    & :is(#pickColor, #followSysAccent, #followCoverImgColor) {
        & svg {
            background-color: transparent !important;
            outline: unset !important;
        }
    }
    #asriChroma {
        pointer-events: unset !important;
        opacity: 1 !important;
        cursor: pointer !important;
    }
    --asri-c-0: unset;
    --asri-on-primary-reverse: unset;
    &[data-theme-mode="light"] {
        --asri-enhance-follow-time-fallback: #3478f6;
    }
    &[data-theme-mode="dark"] {
        --asri-enhance-follow-time-fallback: #118bff;
    }
    --asri-base-color: oklch(from var(--asri-enhance-follow-time-base-color, var(--asri-enhance-follow-time-fallback)) l c calc(h + var(--asri-enhance-follow-time-vary, 0)));
    #{$primary-color-reverse-selectors} {
        --b3-theme-primary: var(--asri-base-color);
        --b3-theme-on-primary: oklch(from var(--asri-base-color) clamp(0, calc((0.72 - l) * 10000), 1) 0 0);
    }
}
