[data-asri-enhance-coloredoutline="true"] {
    #asri-enhance-colored-outline:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
        color: var(--b3-theme-accent);
        & .b3-menu__icon {
          color: var(--b3-theme-accent);
        }
    }
    &[data-theme-mode="light"] {
        .sy__outline .b3-list-item[data-type=NodeHeading][data-subtype=h1] .b3-list-item__text {
            color: oklch(from var(--b3-theme-primary) calc(l - 0.15) c calc(h + 50));
        }
        .sy__outline .b3-list-item[data-type=NodeHeading][data-subtype=h2] .b3-list-item__text {
            color: oklch(from var(--b3-theme-primary) calc(l - 0.15) c calc(h + 100));
        }
        .sy__outline .b3-list-item[data-type=NodeHeading][data-subtype=h3] .b3-list-item__text {
            color: oklch(from var(--b3-theme-primary) calc(l - 0.15) c calc(h + 150));
        }
        .sy__outline .b3-list-item[data-type=NodeHeading][data-subtype=h4] .b3-list-item__text {
            color: oklch(from var(--b3-theme-primary) calc(l - 0.15) c calc(h + 200));
        }
        .sy__outline .b3-list-item[data-type=NodeHeading][data-subtype=h5] .b3-list-item__text {
            color: oklch(from var(--b3-theme-primary) calc(l - 0.15) c calc(h + 250));
        }
        .sy__outline .b3-list-item[data-type=NodeHeading][data-subtype=h6] .b3-list-item__text {
            color: oklch(from var(--b3-theme-primary) calc(l - 0.15) c calc(h + 300));
        }
    }
    &[data-theme-mode="dark"] {
        .sy__outline .b3-list-item[data-type=NodeHeading][data-subtype=h1] .b3-list-item__text {
            color: oklch(from var(--b3-theme-primary) calc(l + 0.15) c calc(h + 50));
        }
        .sy__outline .b3-list-item[data-type=NodeHeading][data-subtype=h2] .b3-list-item__text {
            color: oklch(from var(--b3-theme-primary) calc(l + 0.15) c calc(h + 100));
        }
        .sy__outline .b3-list-item[data-type=NodeHeading][data-subtype=h3] .b3-list-item__text {
            color: oklch(from var(--b3-theme-primary) calc(l + 0.15) c calc(h + 150));
        }
        .sy__outline .b3-list-item[data-type=NodeHeading][data-subtype=h4] .b3-list-item__text {
            color: oklch(from var(--b3-theme-primary) calc(l + 0.15) c calc(h + 200));
        }
        .sy__outline .b3-list-item[data-type=NodeHeading][data-subtype=h5] .b3-list-item__text {
            color: oklch(from var(--b3-theme-primary) calc(l + 0.15) c calc(h + 250));
        }
        .sy__outline .b3-list-item[data-type=NodeHeading][data-subtype=h6] .b3-list-item__text {
            color: oklch(from var(--b3-theme-primary) calc(l + 0.15) c calc(h + 300));
        }
    }
}
