[lang="zh_CN"] #asri-enhance-detail-adjustment .b3-menu__submenu {
    transform: translateX(-198%);
}
html:not([lang="zh_CN"]) #asri-enhance-detail-adjustment .b3-menu__submenu {
    transform: translateX(-177%);
}
@media (max-width: 600px) {
    #asri-enhance-detail-adjustment .b3-menu__submenu {
        transform: translateX(0) !important;
    }
}