[data-asri-enhance-listbulletline="true"] {
    #asri-enhance-list-bullet-line {
        &:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
            color: var(--b3-theme-accent);
            .b3-menu__icon {
                color: var(--b3-theme-accent);
            }
        }
    }
    .asri-bullet-line:not(.protyle-wysiwyg--select, .protyle-wysiwyg--hl)::after {
        content: '';
        box-sizing: border-box;
        border-left: 2px solid var(--b3-theme-accent);
        border-bottom: 2px solid var(--b3-theme-accent);
        border-bottom-left-radius: 8px;
        position: absolute;
        left: -18px;
        animation: listbulletlines 0.3s;
    }
    @keyframes listbulletlines {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    /* 参与连线的列表符号高亮 */
    .protyle-wysiwyg [data-node-id].li:is([data-subtype="o"], [data-subtype="u"], [data-subtype="t"]).asri-bullet-highlight > .protyle-action {
        color: var(--b3-theme-accent);
    }
    .protyle-wysiwyg .li [data-node-id].li:is([data-subtype="o"], [data-subtype="u"], [data-subtype="t"]).asri-bullet-highlight > .protyle-action::after {
        color: var(--b3-theme-accent);
    }
    /* 无序列表紧接无序列表 */
    [data-subtype="u"] > [data-subtype="u"] > .asri-bullet-line:not(.protyle-wysiwyg--select, .protyle-wysiwyg--hl)::after {
        width: 33px;
        height: calc(var(--asri-bullet-line-height) - 1px);
        top: calc(var(--asri-bullet-line-height) * -1 + 19px + ((var(--b3-font-size-editor) - 16px) * 0.75));/* var(--b3-font-size-editor)是适配不同字体大小 */
    }
    /* 无序列表紧接有序列表 */
    [data-subtype="u"] > [data-subtype="o"] > .asri-bullet-line:not(.protyle-wysiwyg--select, .protyle-wysiwyg--hl)::after {
        width: 24px;
        height: calc(var(--asri-bullet-line-height) - 1px);
        top: calc(var(--asri-bullet-line-height) * -1 + 19px + ((var(--b3-font-size-editor) - 16px) * 0.75));
    }
    /* 无序列表紧接任务列表 */
    [data-subtype="u"] > [data-subtype="t"] > .asri-bullet-line:not(.protyle-wysiwyg--select, .protyle-wysiwyg--hl)::after {
        width: 28px;
        height: calc(var(--asri-bullet-line-height) - 1px);
        top: calc(var(--asri-bullet-line-height) * -1 + 19px + ((var(--b3-font-size-editor) - 16px) * 0.75));
    }
    /* 有序列表紧接有序列表 */
    [data-subtype="o"] > [data-subtype="o"] > .asri-bullet-line:not(.protyle-wysiwyg--select, .protyle-wysiwyg--hl)::after {
        width: 25px;
        height: calc(var(--asri-bullet-line-height) - 8px);
        top: calc(var(--asri-bullet-line-height) * -1 + 27px + ((var(--b3-font-size-editor) - 16px) * 0.75));
    }
    /* 有序列表紧接无序列表 */
    [data-subtype="o"] > [data-subtype="u"] > .asri-bullet-line:not(.protyle-wysiwyg--select, .protyle-wysiwyg--hl)::after {
        width: 33px;
        height: calc(var(--asri-bullet-line-height) - 9px);
        top: calc(var(--asri-bullet-line-height) * -1 + 27px + ((var(--b3-font-size-editor) - 16px) * 0.75));
    }
    /* 有序列表紧接任务列表 */
    [data-subtype="o"] > [data-subtype="t"] > .asri-bullet-line:not(.protyle-wysiwyg--select, .protyle-wysiwyg--hl)::after {
        width: 28px;
        height: calc(var(--asri-bullet-line-height) - 9px);
        top: calc(var(--asri-bullet-line-height) * -1 + 27px + ((var(--b3-font-size-editor) - 16px) * 0.75));
    }
    /* 任务列表紧接任务列表 */
    [data-subtype="t"] > [data-subtype="t"] > .asri-bullet-line:not(.protyle-wysiwyg--select, .protyle-wysiwyg--hl)::after {
        width: 28px;
        height: calc(var(--asri-bullet-line-height) - 5px);
        top: calc(var(--asri-bullet-line-height) * -1 + 23px + ((var(--b3-font-size-editor) - 16px) * 0.75));
    }
    /* 任务列表紧接无序列表 */
    [data-subtype="t"] > [data-subtype="u"] > .asri-bullet-line:not(.protyle-wysiwyg--select, .protyle-wysiwyg--hl)::after {
        width: 33px;
        height: calc(var(--asri-bullet-line-height) - 6px);
        top: calc(var(--asri-bullet-line-height) * -1 + 24px + ((var(--b3-font-size-editor) - 16px) * 0.75));
    }
    /* 任务列表紧接有序列表 */
    [data-subtype="t"] > [data-subtype="o"] > .asri-bullet-line:not(.protyle-wysiwyg--select, .protyle-wysiwyg--hl)::after {
        width: 24px;
        height: calc(var(--asri-bullet-line-height) - 6px);
        top: calc(var(--asri-bullet-line-height) * -1 + 24px + ((var(--b3-font-size-editor) - 16px) * 0.75));
    }
    /* 无序空列表紧接无序列表 */
    [data-subtype="u"] > .protyle-action + [data-subtype="u"] > .asri-bullet-line:first-child::after {
        width: 30px;
        top: calc(var(--asri-bullet-line-height) * -1 + 16px + ((var(--b3-font-size-editor) - 16px) * 0.75));
        left: -15px;
    }
    /* 无序空列表紧接有序列表 */
    [data-subtype="u"] > .protyle-action + [data-subtype="o"] > .asri-bullet-line:first-child::after {
        width: 20px;
        top: calc(var(--asri-bullet-line-height) * -1 + 16px + ((var(--b3-font-size-editor) - 16px) * 0.75));
        left: -15px;
    }
    /* 无序空列表紧接任务列表 */
    [data-subtype="u"] > .protyle-action + [data-subtype="t"] > .asri-bullet-line:first-child::after {
        width: 20px;
        top: calc(var(--asri-bullet-line-height) * -1 + 16px + ((var(--b3-font-size-editor) - 16px) * 0.75));
        left: -15px;
    }
    /* 有序空列表紧接有序列表 */
    [data-subtype="o"] > .protyle-action + [data-subtype="o"] > .asri-bullet-line:first-child::after {
        width: 13px;
        left: -7px;
        top: calc(var(--asri-bullet-line-height) * -1 + 16px + ((var(--b3-font-size-editor) - 16px) * 0.75));
    }
    /* 有序空列表紧接无序列表 */
    [data-subtype="o"] > .protyle-action + [data-subtype="u"] > .asri-bullet-line:first-child::after {
        width: 22px;
        left: -7px;
        top: calc(var(--asri-bullet-line-height) * -1 + 16px + ((var(--b3-font-size-editor) - 16px) * 0.75));
    }
    /* 有序空列表紧接任务列表 */
    [data-subtype="o"] > .protyle-action + [data-subtype="t"] > .asri-bullet-line:first-child::after {
        width: 17px;
        left: -7px;
        top: calc(var(--asri-bullet-line-height) * -1 + 16px + ((var(--b3-font-size-editor) - 16px) * 0.75));
    }
    /* 任务空列表紧接任务列表 */
    [data-subtype="t"] > .protyle-action + [data-subtype="t"] > .asri-bullet-line:first-child::after {
        width: 20px;
        left: -10px;
        top: calc(var(--asri-bullet-line-height) * -1 + 16px + ((var(--b3-font-size-editor) - 16px) * 0.75));
    }
    /* 任务空列表紧接无序列表 */
    [data-subtype="t"] > .protyle-action + [data-subtype="u"] > .asri-bullet-line:first-child::after {
        width: 24px;
        left: -10px;
        top: calc(var(--asri-bullet-line-height) * -1 + 16px + ((var(--b3-font-size-editor) - 16px) * 0.75));
    }
    /* 任务空列表紧接有序列表 */
    [data-subtype="t"] > .protyle-action + [data-subtype="o"] > .asri-bullet-line:first-child::after {
        width: 16px;
        left: -10px;
        top: calc(var(--asri-bullet-line-height) * -1 + 16px + ((var(--b3-font-size-editor) - 16px) * 0.75));
    }
}