[data-asri-enhance-smoothcaret="true"]:root {
    #asri-enhance-smooth-caret {
        &:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
            color: var(--b3-theme-accent);
            & .b3-menu__icon {
                color: var(--b3-theme-accent);
            }
        }
    }
    .protyle-wysiwyg,
    .protyle-title__input,
    [data-type="NodeHeading"] {
        caret-color: transparent !important;
    }
    #asri-enhance-smooth-caret-item {
        position: fixed;
        width: 1.5px;
        border-radius: 8px;
        pointer-events: none;
        opacity: 1;
        background-color: var(--asri-enhance-smooth-caret-color, var(--b3-theme-accent));
        transition: 0.5s cubic-bezier(0.1, 0.9, 0.2, 1), opacity 0.3s;
        will-change: transform, height;
        &.asri-enhance-smooth-caret-item-none {
            opacity: 0;
        }
    }
}