[data-asri-enhance-typewriter="true"] {
    #asri-enhance-typewriter:not(:hover) {
        color: var(--b3-theme-accent);
        & .b3-menu__icon {
            color: var(--b3-theme-accent);
        }
    }
}
