[data-asri-enhance-typewriter="true"] {
    #asri-enhance-typewriter:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
        color: var(--b3-theme-accent);
        & .b3-menu__icon {
            color: var(--b3-theme-accent);
        }
    }
}
