@use "public" as *;
.asri-palette-amber.asri-enhance-enable {
    .asri-config:not(#topbarFusionPlus) {
        --b3-theme-accent: var(--b3-theme-on-background);
    }
    #asri-enhance-amber:not(:hover):not(.b3-menu__item--show):not(.b3-menu__item--current) {
        color: var(--b3-theme-accent);
        & .b3-menu__icon {
          color: var(--b3-theme-accent);
        }
    }
    #pickColor, #followSysAccent, #followCoverImgColor {
      & svg {
          background-color: transparent !important;
          outline: unset !important;
      }
  }
    #asriChroma {
      pointer-events: none;
      opacity: 0.38;
    }
    &.asri-mode-light {
      --amber-base-accent: #b79d7b;
      --asri-theme-accent-customized: var(--amber-base-accent);
      --b3-theme-primary: var(--amber-base-accent);
      --b3-theme-accent: #c58635;
      --b3-theme-background: #f8f5f1;
      --b3-theme-surface: #f2ece3;
      --b3-theme-on-background: #593e22;
      --b3-theme-on-surface: #836b49;
        .layout__center :not(.av__views) > .layout-tab-bar .item:not(.item--readonly):not(.item--full.item--focus):hover,
        .layout__center :not(.av__views) > .layout-tab-bar .item--focus {
          background-color: #8e742a33;
        }
        [data-type="wnd"]:not(.layout__wnd--active) :not(.av__views) > .layout-tab-bar .item--focus {
            background-color: #8e742a33 !important;
        }
        .b3-button--outline:not(:hover) {
            --b3-theme-primary: #b79d7b !important;
        }
    }
    &.asri-mode-dark {
      --amber-base-accent: #d5ab7c;
      --asri-theme-accent-customized: var(--amber-base-accent);
      --b3-theme-primary: var(--amber-base-accent);
      --b3-theme-accent: var(--amber-base-accent);
      --b3-theme-background: #221e1e;
      --b3-theme-surface: #423939;
      --b3-theme-on-background: #f4e6d2;
      --b3-theme-on-surface: #9d8b8b;
        .layout__center :not(.av__views) > .layout-tab-bar .item:not(.item--readonly):not(.item--full.item--focus):hover,
        .layout__center :not(.av__views) > .layout-tab-bar .item--focus {
          background-color: #caab8373;
        }
        [data-type="wnd"]:not(.layout__wnd--active) :not(.av__views) > .layout-tab-bar .item--focus {
            background-color: #caab8373 !important;
        }
      }
      .protyle-title__input,
      [data-type="NodeHeading"],
      // .b3-dialog__header,
      :where(h1, h2, h3, h4, h5, h6) {
        color: var(--b3-theme-primary);
      }
    }
    #{$primary-color-reverse-selectors,
    ".b3-button--outline"} {
      .asri-palette-amber.asri-mode-light & {
        --b3-theme-primary: #eecb9e;
        --b3-theme-on-primary: #473400;
      }
      .asri-palette-amber.asri-mode-dark & {
        --b3-theme-primary: #ebc9a4;
        --b3-theme-on-primary: #000000;
      }
    }
    .b3-button--outline,
    .protyle-breadcrumb__icon {
      .asri-palette-amber & {
        --b3-theme-primary: var(--b3-theme-accent);
      }
}