@use "manager" as *;
@include palette-mode(amber, "all");
.asri-palette-amber.asri-enhance-enable {
    @include palette-common(amber);
    @include palette-primary-color-scope(var(--b3-theme-accent));
    &.asri-mode-light {
		--amber-base-accent: #b79d7b;
		--asri-theme-accent-customized: var(--amber-base-accent);
		--b3-theme-primary: var(--amber-base-accent);
		--b3-theme-accent: #c58635;
		--b3-theme-background: #f8f5f1;
		--b3-theme-surface: #f2ece3;
		--b3-theme-on-background: #593e22;
		--b3-theme-on-surface: #836b49;
		#{$layout-tab-bar-item-focus-selectors} {
			background-color: #8e742a33 !important;
		}
		#{$primary-color-reverse-selectors} {
			--b3-theme-primary: #eecb9e;
			--b3-theme-on-primary: #473400;
		}
    }
    &.asri-mode-dark {
		--amber-base-accent: #d5ab7c;
		--asri-theme-accent-customized: var(--amber-base-accent);
		--b3-theme-primary: var(--amber-base-accent);
		--b3-theme-accent: var(--amber-base-accent);
		--b3-theme-background: #221e1e;
		--b3-theme-surface: #423939;
		--b3-theme-on-background: #f4e6d2;
		--b3-theme-on-surface: #9d8b8b;
		#{$layout-tab-bar-item-focus-selectors} {
			background-color: #caab8373 !important;
		}
		#{$primary-color-reverse-selectors} {
			--b3-theme-primary: #ebc9a4;
			--b3-theme-on-primary: #000000;
		}
    }
}