@use "manager" as *;
@include palette-mode(dusk, "light");
.asri-palette-dusk.asri-mode-light.asri-enhance-enable {
    @include palette-common(dusk);
    @include palette-heading-color(var(--b3-theme-primary));
    @include palette-primary-color-scope(var(--b3-theme-accent));
    --dusk-base-accent: #d6957d;
    --asri-theme-accent-customized: var(--dusk-base-accent);
    --b3-theme-primary: var(--dusk-base-accent);
    --b3-theme-accent: var(--dusk-base-accent);
    --b3-theme-background: #f7eadb;
    --b3-theme-surface: #e9dbcf;
    --b3-theme-on-background: #575279;
    --b3-theme-on-surface: #807c99;
    --b3-menu-background: oklch(from var(--b3-theme-background) 0.92 0.018 h);
    #{$layout-tab-bar-item-focus-selectors} {
        background-color: #aa868633 !important;
    }
    #{$primary-color-reverse-selectors} {
        --b3-theme-primary: var(--dusk-base-accent);
        --b3-theme-on-primary: #ffffffcc;
    }
}