@use "public" as *;
[data-theme-mode="light"][data-light-theme="Asri"] {
    #asri-enhance-midnight {
        display: none;
    }
}
[data-asri-palette="midnight"][data-theme-mode="dark"][data-dark-theme="Asri"] {
    .asri-config:not(#topbarFusionPlus) {
        --b3-theme-accent: var(--b3-theme-on-background);
    }
    #asri-enhance-midnight:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
        color: var(--b3-theme-accent);
        & .b3-menu__icon {
          color: var(--b3-theme-accent);
        }
    }
    #asriChroma {
        pointer-events: none;
        opacity: 0.38;
      }
    --midnight-base-accent: #4875b3;
    --asri-theme-accent-customized: var(--midnight-base-accent);
    --b3-theme-primary: var(--midnight-base-accent);
    --b3-theme-surface: #07080c;
    --b3-theme-background: #17181c;
    --b3-theme-on-background: #fbfdff;
    --b3-theme-on-surface: #acadb3;
    .protyle-title__input,
    [data-type="NodeHeading"],
    // .b3-dialog__header,
    :where(h1, h2, h3, h4, h5, h6) {
        color: var(--b3-theme-primary);
    }
    #{$primary-color-reverse-selectors,
    ".b3-button--outline"} {
        --b3-theme-primary: var(--midnight-base-accent);
        --b3-theme-on-primary: #fff;
    }
}
