@use "public" as *;
[data-theme-mode="light"]:root {
    #asri-enhance-midnight {
        display: none;
    }
}
[data-asri-palette="midnight"][data-theme-mode="dark"]:root {
    .asri-config:not(#topbarFusionPlus) {
        --b3-theme-accent: var(--b3-theme-on-background);
    }
    #asri-enhance-midnight:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
        color: var(--b3-theme-accent);
        & .b3-menu__icon {
          color: var(--b3-theme-accent);
        }
    }
    & :is(#pickColor, #followSysAccent, #followCoverImgColor) {
        & svg {
            background-color: transparent !important;
            outline: unset !important;
        }
    }
    #asriChroma {
        pointer-events: none;
        opacity: 0.38;
      }
    --midnight-base-accent: #4875b3;
    --asri-theme-accent-customized: var(--midnight-base-accent);
    --b3-theme-primary: var(--midnight-base-accent);
    --b3-theme-accent: var(--midnight-base-accent);
    --b3-theme-background: #17181c;
    --b3-theme-surface: #07080c;
    --b3-theme-on-background: #fbfdff;
    --b3-theme-on-surface: #acadb3;
    .protyle-title__input,
    [data-type="NodeHeading"],
    // .b3-dialog__header,
    :where(h1, h2, h3, h4, h5, h6) {
        color: var(--b3-theme-primary);
    }
    #{$primary-color-reverse-selectors,
    ".b3-button--outline"} {
        --b3-theme-primary: var(--midnight-base-accent);
        --b3-theme-on-primary: #fff;
    }
    .layout__center :not(.av__views) > .layout-tab-bar .item:not(.item--readonly, .item--full.item--focus):hover,
    .layout__center :not(.av__views) > .layout-tab-bar .item--focus {
      background-color: #ffffff3b;
    }
    [data-type="wnd"]:not(.layout__wnd--active) :not(.av__views) > .layout-tab-bar .item--focus {
        background-color: #ffffff3b !important;
    }
}
.b3-button--outline,
.protyle-breadcrumb__icon {
    [data-asri-palette="midnight"][data-theme-mode="dark"]:root & {
        --b3-theme-primary: var(--b3-theme-accent);
    }
}