@use "public" as *;
[data-asri-palette="nostalgia"]:is([data-theme-mode="light"][data-light-theme="Asri"], [data-theme-mode="dark"][data-dark-theme="Asri"]) {
    .asri-config:not(#topbarFusionPlus) {
        --b3-theme-accent: var(--b3-theme-on-background);
    }
    #asri-enhance-nostalgia:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
        color: var(--b3-theme-accent);
        & .b3-menu__icon {
          color: var(--b3-theme-accent);
        }
    }
    & :is(#pickColor, #followSysAccent, #followCoverImgColor) {
      & svg {
          background-color: transparent !important;
          outline: unset !important;
      }
  }
    #asriChroma {
      pointer-events: none;
      opacity: 0.38;
    }
    &[data-theme-mode="light"][data-light-theme="Asri"] {
        --nostalgia-base-accent: #83799a;
        --asri-theme-accent-customized: var(--nostalgia-base-accent);
        --b3-theme-primary: var(--nostalgia-base-accent);
        --b3-theme-accent: #7b77ba;
        --b3-theme-background: #fffbf3;
        --b3-theme-surface: #f6eee6;
        --b3-theme-on-background: #49474e;
        --b3-theme-on-surface: #66636d;
        --b3-border-color: oklch( from var(--b3-theme-background) 0.935 c h );
        --b3-theme-surface-lighter: var(--b3-border-color);
        --b3-menu-background: oklch(from var(--b3-theme-background) 0.98 0.01 h);
        .layout__center :not(.av__views) > .layout-tab-bar .item:not(.item--readonly, .item--full.item--focus):hover,
        .layout__center :not(.av__views) > .layout-tab-bar .item--focus {
          background-color: #928fb840;
        }
        [data-type="wnd"]:not(.layout__wnd--active) :not(.av__views) > .layout-tab-bar .item--focus {
            background-color: #928fb840 !important;
        }
    }
    &[data-theme-mode="dark"][data-dark-theme="Asri"] {
        --nostalgia-base-accent: #776c9d;
        --asri-theme-accent-customized: var(--nostalgia-base-accent);
        --b3-theme-primary: var(--nostalgia-base-accent);
        --b3-theme-accent: #9c98e3;
        --b3-theme-background: #1d1c25;
        --b3-theme-surface: #2a2936;
        --b3-theme-on-background: #d3cbc5;
        --b3-theme-on-surface: #aca0a0;
      }
      .protyle-title__input,
      [data-type="NodeHeading"],
      // .b3-dialog__header,
      :where(h1, h2, h3, h4, h5, h6) {
        color: var(--b3-theme-primary);
      }
    }
    #{$primary-color-reverse-selectors,
    ".b3-button--outline"} {
      [data-asri-palette="nostalgia"][data-theme-mode="light"][data-light-theme="Asri"] & {
        --b3-theme-primary: var(--nostalgia-base-accent);
        --b3-theme-on-primary: #fefdf9;
      }
      [data-asri-palette="nostalgia"][data-theme-mode="dark"][data-dark-theme="Asri"] & {
        --b3-theme-primary: var(--nostalgia-base-accent);
        --b3-theme-on-primary: #fff;
      }
    }
    .b3-button--outline,
    .protyle-breadcrumb__icon {
      [data-asri-palette="nostalgia"][data-light-theme="Asri"] & {
        --b3-theme-primary: var(--b3-theme-accent);
      }
}
