@use "public" as *;
.asri-mode-light:root {
    #asri-enhance-ocean {
        display: none;
    }
}
.asri-palette-ocean.asri-mode-dark:root {
    .asri-config:not(#topbarFusionPlus) {
        --b3-theme-accent: var(--b3-theme-on-background);
    }
    #asri-enhance-ocean:not(:hover):not(.b3-menu__item--show):not(.b3-menu__item--current) {
        color: var(--b3-theme-accent);
        & .b3-menu__icon {
          color: var(--b3-theme-accent);
        }
    }
    #pickColor, #followSysAccent, #followCoverImgColor {
        & svg {
            background-color: transparent !important;
            outline: unset !important;
        }
    }
    #asriChroma {
        pointer-events: none;
        opacity: 0.38;
      }
    --ocean-base-accent: #b8e53f;
    --asri-theme-accent-customized: var(--ocean-base-accent);
    --b3-theme-primary: var(--ocean-base-accent);
    --b3-theme-accent: var(--ocean-base-accent);
    --b3-theme-background: #1e2330;
    --b3-theme-surface: #141825;
    --b3-theme-on-background: #ebebeb;
    --b3-theme-on-surface: #e7e7e7;
    .protyle-title__input,
    [data-type="NodeHeading"],
    :where(h1, h2, h3, h4, h5, h6) {
        color: var(--b3-theme-primary);
    }
    #{$primary-color-reverse-selectors} {
        --b3-theme-primary: var(--ocean-base-accent);
        --b3-theme-on-primary: #fff;
    }
    .layout__center :not(.av__views) > .layout-tab-bar .item:not(.item--readonly):not(.item--full.item--focus):hover,
    .layout__center :not(.av__views) > .layout-tab-bar .item--focus {
      background-color: #a4caff59;
    }
    [data-type="wnd"]:not(.layout__wnd--active) :not(.av__views) > .layout-tab-bar .item--focus {
        background-color: #a4caff59 !important;
    }
    #{$primary-color-reverse-selectors,
        ".b3-button--outline"} {
            --b3-theme-primary: var(--ocean-base-accent);
            --b3-theme-on-primary: #000000;
        }
    .b3-menu .b3-menu__items .b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom,.b3-menu__item--disabled):not([disabled]):not([data-type=nobg]),
    .b3-menu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly,.b3-menu__item--disabled):not([disabled]):not([data-type=nobg]),
    .b3-menu__submenu .b3-menu__items .b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom,.b3-menu__item--disabled):not([disabled]):not([data-type=nobg]), .b3-menu__submenu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly,.b3-menu__item--disabled):not([disabled]):not([data-type=nobg]) {
        background-color: var(--b3-list-hover) !important;
        --b3-theme-on-primary: #ffffff !important;
        --b3-menu-item-background-hover-text: var(--b3-theme-on-primary) !important;
    }
}
.b3-button--outline,
.protyle-breadcrumb__icon {
    .asri-palette-ocean.asri-mode-dark:root & {
        --b3-theme-primary: var(--b3-theme-accent);
    }
}