@use "manager" as *;
@include palette-mode(opalite, "light");
.asri-palette-opalite.asri-mode-light.asri-enhance-enable {
    @include palette-common(opalite);
    @include palette-heading-color(var(--b3-theme-primary));
    @include palette-primary-color-scope(var(--b3-theme-accent));
    --opalite-base-accent: #5e7cc6;
    --asri-theme-accent-customized: var(--opalite-base-accent);
    --b3-theme-primary: var(--opalite-base-accent);
    --b3-theme-accent: var(--opalite-base-accent);
    --b3-theme-background: #f9f7e4;
    --b3-theme-surface: #f0efd0;
    --b3-theme-on-background: #336260;
    --b3-theme-on-surface: #6c8687;
    #{$layout-tab-bar-item-focus-selectors} {
        background-color: #3c6da838 !important;
    }
    #{$primary-color-reverse-selectors} {
        --b3-theme-primary: #b8d2e8;
        --b3-theme-on-primary: #001055;
    }
}