@use "manager" as *;
@include palette-mode(oxygen, "dark");
.asri-palette-oxygen.asri-mode-dark.asri-enhance-enable {
    @include palette-common(oxygen);
    @include palette-primary-color-scope(var(--b3-theme-accent));
    --oxygen-base-accent: #efa685;
    --asri-theme-accent-customized: var(--oxygen-base-accent);
    --b3-theme-primary: var(--oxygen-base-accent);
    --b3-theme-accent: var(--oxygen-base-accent);
    --b3-theme-background: #272e33;
    --b3-theme-surface: #364852;
    --b3-theme-on-background: #e2dac5;
    --b3-theme-on-surface: #d3cab4;
    --b3-border-color: oklch(from var(--b3-theme-background) 0.42 clamp(0, 0.009 * var(--asri-c-factor, 1) * var(--asri-c-0, 1), 0.04) h);
    --b3-theme-surface-lighter: var(--b3-border-color);
    #{$layout-tab-bar-item-focus-selectors} {
        background-color: #d3e6a44d !important;
    }
    #{$primary-color-reverse-selectors} {
        --b3-theme-primary: var(--oxygen-base-accent);
        --b3-theme-on-primary: #000000;
    }
}