@use "public" as *;
[data-asri-palette="oxygen"]:is([data-theme-mode="light"][data-light-theme="Asri"], [data-theme-mode="dark"][data-dark-theme="Asri"]) {
  .asri-config:not(#topbarFusionPlus) {
    --b3-theme-accent: var(--b3-theme-on-background);
  }
  #asri-enhance-oxygen:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
    color: var(--b3-theme-accent);
    & .b3-menu__icon {
      color: var(--b3-theme-accent);
    }
  }
  #asriChroma {
    pointer-events: none;
    opacity: 0.38;
  }
  &[data-theme-mode="light"][data-light-theme="Asri"] {
    --oxygen-base-accent: #f57d26;
    --asri-theme-accent-customized: var(--oxygen-base-accent);
    --b3-theme-primary: var(--oxygen-base-accent);
    --b3-theme-accent: var(--oxygen-base-accent);
    --b3-theme-background: #fdf6e3;
    --b3-theme-surface: #efebd4;
    --b3-theme-on-background: #435058;
    --b3-theme-on-surface: #63747e;
    --b3-border-color: oklch( from var(--b3-theme-background) 0.88 c h );
    --b3-theme-surface-lighter: var(--b3-border-color);
    --b3-menu-background: oklch(from var(--b3-theme-background) 0.96 0.02 h);
    .layout__center :not(.av__views) > .layout-tab-bar .item:not(.item--readonly, .item--full.item--focus):hover,
    .layout__center :not(.av__views) > .layout-tab-bar .item--focus {
      background-color: #2d853e26;
    }
    [data-type="wnd"]:not(.layout__wnd--active) :not(.av__views) > .layout-tab-bar .item--focus {
      background-color: #2d853e26 !important;
    }
  }
  &[data-theme-mode="dark"][data-dark-theme="Asri"] {
    --oxygen-base-accent: #efa685;
    --asri-theme-accent-customized: var(--oxygen-base-accent);
    --b3-theme-primary: var(--oxygen-base-accent);
    --b3-theme-accent: var(--oxygen-base-accent);
    --b3-theme-background: #272e33;
    --b3-theme-surface: #364852;
    --b3-theme-on-background: #e2dac5;
    --b3-theme-on-surface: #d3cab4;
    --b3-border-color: oklch(from var(--b3-theme-background) 0.42 clamp(0, 0.009 * var(--asri-c-factor, 1) * var(--asri-c-0, 1), 0.04) h);
    --b3-theme-surface-lighter: var(--b3-border-color);
  }
  .protyle-title__input,
  [data-type="NodeHeading"],
  :where(h1, h2, h3, h4, h5, h6) {
    color: var(--b3-theme-primary);
  }
}
#{$primary-color-reverse-selectors,
".b3-button--outline"} {
  [data-asri-palette="oxygen"][data-theme-mode="light"][data-light-theme="Asri"] & {
    --b3-theme-primary: var(--oxygen-base-accent);
    --b3-theme-on-primary: #ffffff;
  }
  [data-asri-palette="oxygen"][data-theme-mode="dark"][data-dark-theme="Asri"] & {
    --b3-theme-primary: var(--oxygen-base-accent);
    --b3-theme-on-primary: #000000;
  }
}
.b3-button--outline,
.protyle-breadcrumb__icon {
  [data-asri-palette="oxygen"][data-light-theme="Asri"] & {
    --b3-theme-primary: var(--b3-theme-accent);
  }
}
