@forward "../asri/asri";
.asri-mode-light:root {
      &.asri-palette-amber,
      &.asri-palette-sakura,
      &.asri-palette-wilderness,
      &.asri-palette-salt,
      &.asri-palette-sugar,
      &.asri-palette-topaz,
      &.asri-palette-rosepine,
      &.asri-palette-oxygen,
      &.asri-palette-shade,
      &.asri-palette-glitch,
      &.asri-palette-nostalgia {
        #asri-enhance-palette:not(:hover):not(.b3-menu__item--show):not(.b3-menu__item--current) {
          color: var(--b3-theme-accent);
          & .b3-menu__icon {
            color: var(--b3-theme-accent);
          }
        }
    }
}
.asri-mode-dark:root {
      &.asri-palette-amber,
      &.asri-palette-sakura,
      &.asri-palette-wilderness,
      &.asri-palette-midnight,
      &.asri-palette-ocean,
      &.asri-palette-topaz,
      &.asri-palette-rosepine,
      &.asri-palette-oxygen,
      &.asri-palette-shade,
      &.asri-palette-glitch,
      &.asri-palette-nostalgia {
        #asri-enhance-palette:not(:hover):not(.b3-menu__item--show):not(.b3-menu__item--current) {
          color: var(--b3-theme-accent);
          & .b3-menu__icon {
            color: var(--b3-theme-accent);
          }
        }
    }
}