@forward "../asri/asri";
.asri-mode-light.asri-enhance-enable {
      &.asri-palette-sakura,
      &.asri-palette-amber,
      &.asri-palette-wilderness,
      &.asri-palette-rosepine,
      &.asri-palette-topaz,
      &.asri-palette-dusk,
      &.asri-palette-gruvbox,
      &.asri-palette-glitch {
        #asri-enhance-palette:not(:hover):not(.b3-menu__item--show):not(.b3-menu__item--current) {
          color: var(--b3-theme-accent);
          & .b3-menu__icon {
            color: var(--b3-theme-accent);
          }
        }
    }
}
.asri-mode-dark.asri-enhance-enable {
      &.asri-palette-amber,
      &.asri-palette-wilderness,
      &.asri-palette-midnight,
      &.asri-palette-ocean,
      &.asri-palette-twilight,
      &.asri-palette-rosepine,
      &.asri-palette-oxygen,
      &.asri-palette-glitch {
        #asri-enhance-palette:not(:hover):not(.b3-menu__item--show):not(.b3-menu__item--current) {
          color: var(--b3-theme-accent);
          & .b3-menu__icon {
            color: var(--b3-theme-accent);
          }
        }
    }
}