$primary-color-reverse-selectors: (
  // reverse on-primary colors when primary color is too bright
  "#barWorkspace",
  "#message",
  ".b3-button--outline:hover",
  ".b3-dialog__action .b3-button--text",
  "#transactionError + .b3-dialog__action button:last-child",
  "#configBazaarReadme .item__side .b3-button:not(.b3-button--progress):hover",
  ".protyle-breadcrumb__icon:hover",
  ".protyle-breadcrumb__item",
  ":not(.config-bazaar__title)>.b3-button:not(.b3-button--outline, .b3-button--big)",
  ".b3-menu",
  ".b3-switch",
  ".b3-chip--primary",
  ".b3-chip--current"
);
[data-theme-mode="light"][data-light-theme="Asri"] {
    &:is([data-asri-palette="amber"], [data-asri-palette="wilderness"], [data-asri-palette="salt"], [data-asri-palette="topaz"], [data-asri-palette="rosepine"], [data-asri-palette="oxygen"], [data-asri-palette="shade"]) {
        #asri-enhance-palette:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
          color: var(--b3-theme-accent);
          & .b3-menu__icon {
            color: var(--b3-theme-accent);
          }
        }
    }
}
[data-theme-mode="dark"][data-dark-theme="Asri"] {
    &:is([data-asri-palette="amber"], [data-asri-palette="wilderness"], [data-asri-palette="midnight"], [data-asri-palette="topaz"], [data-asri-palette="rosepine"], [data-asri-palette="oxygen"], [data-asri-palette="shade"]) {
        #asri-enhance-palette:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
          color: var(--b3-theme-accent);
          & .b3-menu__icon {
            color: var(--b3-theme-accent);
          }
        }
    }
}