@use "public" as *;
[data-asri-palette="rosepine"]:is([data-theme-mode="light"][data-light-theme="Asri"], [data-theme-mode="dark"][data-dark-theme="Asri"]):root {
	.asri-config:not(#topbarFusionPlus) {
		--b3-theme-accent: var(--b3-theme-on-background);
	}
	#asri-enhance-rosepine:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
		color: var(--b3-theme-accent);
		& .b3-menu__icon {
			color: var(--b3-theme-accent);
		}
	}
	& :is(#pickColor, #followSysAccent, #followCoverImgColor) {
        & svg {
            background-color: transparent !important;
            outline: unset !important;
        }
    }
	#asriChroma {
		pointer-events: none;
		opacity: 0.38;
	  }
	&[data-theme-mode="light"][data-light-theme="Asri"] {
		--rosepine-base-accent: #d88aa0;
		--asri-theme-accent-customized: var(--rosepine-base-accent);
		--b3-theme-primary: var(--rosepine-base-accent);
		--b3-theme-accent: var(--rosepine-base-accent);
		--b3-theme-background: #faf4ed;
		--b3-theme-surface: #f2e9e1;
		--b3-theme-on-background: #575279;
		--b3-theme-on-surface: #797593;
		--b3-border-color: oklch( from var(--b3-theme-background) 0.88 c h );
        --b3-theme-surface-lighter: var(--b3-border-color);
		.layout__center :not(.av__views) > .layout-tab-bar .item:not(.item--readonly, .item--full.item--focus):hover,
		.layout__center :not(.av__views) > .layout-tab-bar .item--focus {
			background-color: #b4637a33;
		}
		[data-type="wnd"]:not(.layout__wnd--active) :not(.av__views) > .layout-tab-bar .item--focus {
			background-color: #b4637a33 !important;
		}
	}
	&[data-theme-mode="dark"][data-dark-theme="Asri"] {
		--rosepine-base-accent: #c7758c;
		--asri-theme-accent-customized: var(--rosepine-base-accent);
		--b3-theme-primary: var(--rosepine-base-accent);
		--b3-theme-accent: var(--rosepine-base-accent);
		--b3-theme-background: #151320;
		--b3-theme-surface: #1f1d2e;
		--b3-theme-on-background: #e0def4;
		--b3-theme-on-surface: #908caa;
		.layout__center :not(.av__views) > .layout-tab-bar .item:not(.item--readonly, .item--full.item--focus):hover,
		.layout__center :not(.av__views) > .layout-tab-bar .item--focus {
			background-color: #ff95b333;
		}
	}
	.protyle-title__input,
	[data-type="NodeHeading"],
	:where(h1, h2, h3, h4, h5, h6) {
		color: var(--b3-theme-primary);
	}
}
#{$primary-color-reverse-selectors,
".b3-button--outline"} {
	[data-asri-palette="rosepine"][data-theme-mode="light"][data-light-theme="Asri"]:root & {
		--b3-theme-primary: var(--rosepine-base-accent);
		--b3-theme-on-primary: #faf4ed;
	}
	[data-asri-palette="rosepine"][data-theme-mode="dark"][data-dark-theme="Asri"]:root & {
		--b3-theme-primary: var(--rosepine-base-accent);
		--b3-theme-on-primary: #000000;
	}
}
.b3-button--outline,
.protyle-breadcrumb__icon {
	[data-asri-palette="rosepine"][data-light-theme="Asri"]:root & {
		--b3-theme-primary: var(--b3-theme-accent);
	}
}
