@use "manager" as *;
@include palette-mode(sakura, "light");
.asri-palette-sakura.asri-mode-light.asri-enhance-enable {
    @include palette-common(sakura);
    @include palette-heading-color(var(--b3-theme-primary));
    @include palette-primary-color-scope(var(--b3-theme-accent));
    &.asri-mode-light {
        --sakura-base-accent: #e68e94;
        --asri-theme-accent-customized: var(--sakura-base-accent);
        --b3-theme-primary: var(--sakura-base-accent);
        --b3-theme-accent: var(--sakura-base-accent);
        --b3-theme-background: #fffaf4;
        --b3-theme-surface: #ffede7;
        --b3-theme-on-background: #56487c;
        --b3-theme-on-surface: #7c758d;
        --b3-border-color: oklch( from var(--b3-theme-background) 0.9 c h );
        --b3-theme-surface-lighter: var(--b3-border-color);
        --b3-menu-background: oklch(from var(--b3-theme-background) 0.97 0.018 h);
        #{$layout-tab-bar-item-focus-selectors} {
            background-color: #ff888840 !important;
        }
        #{$primary-color-reverse-selectors} {
            --b3-theme-primary: #ffcaca;
            --b3-theme-on-primary: #9e4a4a;
        }
    }
}