@use "public" as *;
[data-asri-palette="shade"]:root {
    .asri-config:not(#topbarFusionPlus) {
        --b3-theme-accent: var(--b3-theme-on-background);
    }
    #asri-enhance-shade:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
        color: var(--b3-theme-accent);
        & .b3-menu__icon {
          color: var(--b3-theme-accent);
        }
    }
    & :is(#pickColor, #followSysAccent, #followCoverImgColor) {
      & svg {
          background-color: transparent !important;
          outline: unset !important;
      }
  }
    #asriChroma {
      pointer-events: none;
      opacity: 0.38;
    }
    &[data-theme-mode="light"] {
        --shade-base-accent: #78a181;
        --asri-theme-accent-customized: var(--shade-base-accent);
        --b3-theme-primary: var(--shade-base-accent);
        --b3-theme-accent: #59a369;
        --b3-theme-background: #eaf0e2;
        --b3-theme-surface: #dee6d1;
        --b3-theme-on-background: #033427;
        --b3-theme-on-surface: #6b795e;
        --b3-border-color: oklch( from var(--b3-theme-background) 0.88 clamp(0, 0.009 * var(--asri-c-factor, 1) * var(--asri-c-0, 1), 0.04) h );
        --b3-theme-surface-lighter: var(--b3-border-color);
        .layout__center :not(.av__views) > .layout-tab-bar .item:not(.item--readonly, .item--full.item--focus):hover,
        .layout__center :not(.av__views) > .layout-tab-bar .item--focus {
          background-color: #2d853e33;
        }
        [data-type="wnd"]:not(.layout__wnd--active) :not(.av__views) > .layout-tab-bar .item--focus {
            background-color: #2d853e33 !important;
        }
        .b3-dialog .layout-tab-bar .item--focus {
          background-color: #f3f3f3;
        }
    }
    &[data-theme-mode="dark"] {
        --shade-base-accent: #d8ed8d;
        --asri-theme-accent-customized: var(--shade-base-accent);
        --b3-theme-primary: var(--shade-base-accent);
        --b3-theme-accent: var(--shade-base-accent);
        --b3-theme-background: #19393a;
        --b3-theme-surface: #214b4c;
        --b3-theme-on-background: #dee2b9;
        --b3-theme-on-surface: #7CAB9B;
        --b3-border-color: oklch( from var(--b3-theme-background) 0.4 c h );
        --b3-theme-surface-lighter: var(--b3-border-color);
    }
    .protyle-title__input,
    [data-type="NodeHeading"],
    :where(h1, h2, h3, h4, h5, h6) {
        color: var(--b3-theme-primary);
    }
}
#{$primary-color-reverse-selectors} {
  [data-asri-palette="shade"][data-theme-mode="light"]:root & {
    --b3-theme-primary: #b5d4bc;
    --b3-theme-on-primary: #1d2d19;
  }
  [data-asri-palette="shade"][data-theme-mode="dark"]:root & {
    --b3-theme-primary: var(--shade-base-accent);
    --b3-theme-on-primary: #19393a;
  }
}
.b3-button--outline,
.protyle-breadcrumb__icon {
  [data-asri-palette="shade"]:root & {
    --b3-theme-primary: var(--b3-theme-accent);
  }
}
