@use "public" as *;
[data-asri-palette="shade"]:is([data-theme-mode="light"][data-light-theme="Asri"], [data-theme-mode="dark"][data-dark-theme="Asri"]) {
    .asri-config:not(#topbarFusionPlus) {
        --b3-theme-accent: var(--b3-theme-on-background);
    }
    #asri-enhance-shade:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
        color: var(--b3-theme-accent);
        & .b3-menu__icon {
          color: var(--b3-theme-accent);
        }
    }
    #asriChroma {
      pointer-events: none;
      opacity: 0.38;
    }
    &[data-theme-mode="light"][data-light-theme="Asri"] {
        --shade-base-accent: #78a181;
        --asri-theme-accent-customized: var(--shade-base-accent);
        --b3-theme-primary: #78a181;
        --b3-theme-accent: #59a369;
        --b3-theme-background: #eaf0e2;
        --b3-theme-surface: #d9e3c9;
        --b3-theme-on-background: #1a2e1f;
        --b3-theme-on-surface: #3a4e3f;
        --b3-border-color: oklch( from var(--b3-theme-background) 0.88 clamp(0, 0.009 * var(--asri-c-factor, 1) * var(--asri-c-0, 1), 0.04) h );
        --b3-theme-surface-lighter: var(--b3-border-color);
        .layout__center :not(.av__views) > .layout-tab-bar .item:not(.item--readonly, .item--full.item--focus):hover,
        .layout__center :not(.av__views) > .layout-tab-bar .item--focus {
          background-color: #2d853e33;
        }
        [data-type="wnd"]:not(.layout__wnd--active) :not(.av__views) > .layout-tab-bar .item--focus {
            background-color: #2d853e33 !important;
        }
        .b3-dialog .layout-tab-bar .item--focus {
          background-color: #f3f3f3;
        }
    }
    &[data-theme-mode="dark"][data-dark-theme="Asri"] {
        --shade-base-accent: #88ba92;
        --asri-theme-accent-customized: var(--shade-base-accent);
        --b3-theme-primary: var(--shade-base-accent);
        --b3-theme-accent: #4a9d5a;
        --b3-theme-surface: #1a2e1f;
        --b3-theme-background: #0f1a12;
        --b3-theme-on-background: #d4e5d8;
        --b3-theme-on-surface: #b8d4be;
        --b3-border-color: oklch(from var(--b3-theme-background) 0.42 clamp(0, 0.009 * var(--asri-c-factor, 1) * var(--asri-c-0, 1), 0.04) h);
        --b3-theme-surface-lighter: var(--b3-border-color);
    }
    .protyle-title__input,
    [data-type="NodeHeading"],
    :where(h1, h2, h3, h4, h5, h6) {
        color: var(--b3-theme-primary);
    }
}
#{$primary-color-reverse-selectors,
".b3-button--outline"} {
  [data-asri-palette="shade"][data-theme-mode="light"][data-light-theme="Asri"] & {
    --b3-theme-primary: #b5d4bc;
    --b3-theme-on-primary: #1d2d19;
  }
  [data-asri-palette="shade"][data-theme-mode="dark"][data-dark-theme="Asri"] & {
    --b3-theme-primary: #4a9d5a;
    --b3-theme-on-primary: #0f1a12;
  }
}
.b3-button--outline,
.protyle-breadcrumb__icon {
  [data-asri-palette="shade"][data-theme-mode="light"][data-light-theme="Asri"] & {
    --b3-theme-primary: var(--b3-theme-accent);
  }
}
