@use "manager" as *;
@include palette-mode(twilight, "dark");
.asri-palette-twilight.asri-mode-dark.asri-enhance-enable {
    @include palette-common(twilight);
    @include palette-primary-color-scope(var(--b3-theme-accent));
    --twilight-base-accent: #b7c9ff;
    --asri-theme-accent-customized: var(--twilight-base-accent);
    --b3-theme-primary: var(--twilight-base-accent);
    --b3-theme-accent: #8ca9ff;
    --b3-theme-background: #1e2030;
    --b3-theme-surface: #24273a;
    --b3-theme-on-background: rgb(197, 207, 245);
    --b3-theme-on-surface: rgb(143, 151, 183);
    #{$primary-color-reverse-selectors} {
        --b3-theme-primary: var(--twilight-base-accent);
        --b3-theme-on-primary: #000000;
    }
}