@use "manager" as *;
@include palette-mode(wilderness, "all");
.asri-palette-wilderness.asri-enhance-enable {
    @include palette-common(wilderness);
    @include palette-primary-color-scope(var(--b3-theme-accent));
    &.asri-mode-light {
        --wilderness-base-accent: #74b49a;
        --asri-theme-accent-customized: var(--wilderness-base-accent);
        --b3-theme-primary: var(--wilderness-base-accent);
        --b3-theme-accent: #008e9e;
        --b3-theme-background: #fdf6e3;
        --b3-theme-surface: #eaedc8;
        --b3-theme-on-background: #46687c;
        --b3-theme-on-surface: #6f8892;
        --b3-border-color: oklch( from var(--b3-theme-background) 0.88 clamp(0, 0.009 * var(--asri-c-factor, 1) * var(--asri-c-0, 1), 0.04) h );
        --b3-theme-surface-lighter: var(--b3-border-color);
        #{$layout-tab-bar-item-focus-selectors} {
            background-color: #2d853e33 !important;
        }
        #{$primary-color-reverse-selectors} {
            --b3-theme-primary: #beea9d;
            --b3-theme-on-primary: #284a12;
        }
        #barWorkspace:hover {
            --b3-theme-primary: #bbdf92;
            --b3-theme-on-primary: #437224;
        }
    }
    &.asri-mode-dark {
        --wilderness-base-accent: #d8ed8d;
        --asri-theme-accent-customized: var(--wilderness-base-accent);
        --b3-theme-primary: var(--wilderness-base-accent);
        --b3-theme-accent: #62e9b6;
        --b3-theme-background: #19393a;
        --b3-theme-surface: #214b4c;
        --b3-theme-on-background: #dee2b9;
        --b3-theme-on-surface: #8c9d80;
        --b3-border-color: oklch( from var(--b3-theme-background) 0.4 c h );
        --b3-theme-surface-lighter: var(--b3-border-color);
        #{$primary-color-reverse-selectors} {
            --b3-theme-primary: var(--wilderness-base-accent);
            --b3-theme-on-primary: #19393a;
        }
    }
}