@use "public" as *;
[data-asri-palette="wilderness"]:is([data-theme-mode="light"][data-light-theme="Asri"], [data-theme-mode="dark"][data-dark-theme="Asri"]) {
    .asri-config:not(#topbarFusionPlus) {
        --b3-theme-accent: var(--b3-theme-on-background);
    }
    #asri-enhance-wilderness:not(:hover, .b3-menu__item--show, .b3-menu__item--current) {
        color: var(--b3-theme-accent);
        & .b3-menu__icon {
          color: var(--b3-theme-accent);
        }
    }
    #asriChroma {
      pointer-events: none;
      opacity: 0.38;
    }
    &[data-theme-mode="light"][data-light-theme="Asri"] {
        --wilderness-base-accent: #5cb8a9;
        --asri-theme-accent-customized: var(--wilderness-base-accent);
        --b3-theme-primary: #5cb8a9;
        --b3-theme-accent: #5cb8a9;
        --b3-theme-background: #fffcf0;
        --b3-theme-surface: #f2f0e5;
        --b3-theme-on-background: #242322;
        --b3-theme-on-surface: #52514d;
        --b3-border-color: oklch( from var(--b3-theme-background) 0.88 clamp(0, 0.009 * var(--asri-c-factor, 1) * var(--asri-c-0, 1), 0.04) h );
        --b3-theme-surface-lighter: var(--b3-border-color);
        .layout__center :not(.av__views) > .layout-tab-bar .item:not(.item--readonly, .item--full.item--focus):hover,
        .layout__center :not(.av__views) > .layout-tab-bar .item--focus {
          background-color: #26846133;
        }
        [data-type="wnd"]:not(.layout__wnd--active) :not(.av__views) > .layout-tab-bar .item--focus {
            background-color: #26846133 !important;
        }
    }
    &[data-theme-mode="dark"][data-dark-theme="Asri"] {
        --wilderness-base-accent: #568a82;
        --asri-theme-accent-customized: var(--wilderness-base-accent);
        --b3-theme-primary: var(--wilderness-base-accent);
        --b3-theme-surface: #232a2e;
        --b3-theme-background: #2d353b;
        --b3-theme-on-background: #ece4d0;
        --b3-theme-on-surface: #e3ddcc;
        --b3-border-color: oklch( from var(--b3-theme-background) 0.42 clamp(0, 0.009 * var(--asri-c-factor, 1) * var(--asri-c-0, 1), 0.04) h );
      }
      .layout__center+.layout__resize--lr::after {
        background-color: var(--b3-border-color);
      }
      .protyle-title__input,
      [data-type="NodeHeading"],
      // .b3-dialog__header,
      :where(h1, h2, h3, h4, h5, h6) {
        color: var(--b3-theme-primary);
      }
    }
    #{$primary-color-reverse-selectors,
    ".b3-button--outline"} {
      [data-asri-palette="wilderness"][data-theme-mode="light"][data-light-theme="Asri"] & {
        --b3-theme-primary: var(--wilderness-base-accent);
        --b3-theme-on-primary: #ffffff;
      }
      [data-asri-palette="wilderness"][data-theme-mode="dark"][data-dark-theme="Asri"] & {
        --b3-theme-primary: #568a82;
        --b3-theme-on-primary: #fff;
      }
    }
    .b3-button--outline,
    .protyle-breadcrumb__icon {
      [data-asri-palette="wilderness"][data-theme-mode="light"][data-light-theme="Asri"] & {
        --b3-theme-primary: var(--b3-theme-accent);
      }
}
