@use "../asri/overflowfadein" as *;
$primary-color-reverse-selectors: (
  // reverse on-primary colors when primary color is too bright
  "#barWorkspace",
  "#message",
  ".b3-button--outline:hover",
  ".b3-dialog__action .b3-button--text",
  "#transactionError + .b3-dialog__action button:last-child",
  "#configBazaarReadme .item__side .b3-button:not(.b3-button--progress):hover",
  ".protyle-breadcrumb__icon:hover",
  ".protyle-breadcrumb__item",
  ":not(.config-bazaar__title)>.b3-button:not(.b3-button--outline):not(.b3-button--big)",
  ".b3-menu",
  ".b3-switch",
  ".b3-chip--primary",
  ".b3-chip--current"
);
$dockl-transparency-selectors: (
  ".layout__dockl:not(.layout--float) .layout-tab-container",
  ".layout__dockb:not(.layout--float) .layout-tab-container",
  ".dock#dockLeft.dock-layout-expanded",
  ".dock#dockBottom",
  "#dockBottom.fn__none.has-layout-dockb-float ~ .status",
  "#dockBottom:not(.fn__none) ~ .status"
);
$other-transparency-selectors: (
  ".layout__dockr:not(.layout--float) .layout-tab-container",
  ".dock#dockLeft:not(.dock-layout-expanded)",
  ".dock#dockRight",
  ".layout__center [data-type="wnd"]"
);
@mixin darkmode-counterpart($root: false) {
    $selector: if($root, "&.asri-mode-dark", ".asri-mode-dark &");
    #{$selector} {
      @content;
    }
}
.asri-enhance-enable {
  body.asri-tfp {
    #topbarFusionPlus {
        &:not(:hover):not(.b3-menu__item--show):not(.b3-menu__item--current) {
            color: var(--b3-theme-accent);
            .b3-menu__icon {
                color: var(--b3-theme-accent);
            }
        }
    }
}
  .asri-enhance-settings-icon {
    height: 12px;
    width: 12px;
    line-height: 12px;
    margin-left: 16px;
    margin-right: unset;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
  // 线条颜色
  .search__tip {
    border-color: var(--b3-border-color-trans);
  }
  .b3-label {
    border-color: var(--b3-border-color-trans);
  }
  .search__header {
    border-color: var(--b3-border-color-trans) !important;
  }
  .search__list {
      border-color: var(--b3-border-color-trans);
  }
  .search__layout--row {
      border-color: var(--b3-border-color-trans);
  }
  .search__layout:not(.search__layout--row) .search__list {
    border-color: var(--b3-border-color-trans);
  }
  .search__preview {
    border-color: var(--b3-border-color-trans);
  }
  .layout__center [data-type=wnd]>.fn__flex:first-child {
    transition: padding-top 0.2s;
  }
  // 搜索列表
  #searchList, #searchUnRefList{
    background-color: var(--b3-theme-background);
  }
  .search__drag {
      &::after {
        background-color: var(--b3-border-color-trans);
      }
      &:hover::after {
        background-color: var(--b3-theme-primary-light);
      }
      &:is(.search__layout--row .search__drag) {
        &::after {
          width: 1px;
        }
      }
      &:not(.search__layout--row .search__drag) {
        &::after {
          height: 1px;
        }
      }
  }
  // 闪卡按钮
  .card__action {
    button.b3-button {
      corner-shape: superellipse(1.4);
      border-radius: 48px;
      &:hover {
        box-shadow: none !important;
        scale: 1;
        transform: scale(1.05) !important;
        transition: transform .7s var(--asri-ease-spring-4);
        transform-origin: 50% 82.5%;
      }
      &[data-type="-1"] {
        &:hover {
          transform: scale(1.03) !important;
        }
      }
      &[data-type="-3"] {
        background-color: transparent;
      }
    }
  }
  .body-asri--mobile .card__action button {
    height: 50px;
  }
  .body-asri--mobile .card__action .card__icon {
    display: none;
  }
  // 闪卡在页签打开
  [data-type="wnd"] .card__main {
    background-color: var(--b3-theme-background);
    .card__empty {
        background-color: var(--b3-theme-background);
    }
  }
  // 数据历史
  .history__resize {
    box-shadow: 1px 0 0 0 var(--b3-border-color-trans) inset;
    &:hover {
        box-shadow: 1px 0 0 0 var(--b3-theme-primary-light) inset;
    }
  }
  // 主界面
  .layout__resize--lr.layout__resize {
    &::after {
      transform: none;
    }
  }
  #status {
    mix-blend-mode: unset !important;
  }
  .asri-tfp .layout__center {
    background-color: unset;
  }
  // 编辑器
  .protyle-scroll__down, .protyle-scroll__up {
    color: var(--b3-border-color-trans);
    &:hover {
      color: var(--b3-theme-primary);
    }
  }
  // 图片查看器
  @keyframes viewer-backdrop-blur {
    0% {
      backdrop-filter: blur(0px);
      background-color: transparent;
    }
    100% {
      backdrop-filter: blur(20px);
      background-color: oklch(from var(--b3-theme-background) l c h / 0.7);
    }
  }
  .viewer-backdrop.viewer-container {
    background-color: oklch(from var(--b3-theme-background) l c h / 0.7);
    animation: viewer-backdrop-blur 0.2s forwards;
    .viewer-navbar {
      background-color: oklch(from var(--b3-theme-surface) l c h / 0.7);
      .viewer-list {
        transition: 0.5s;
      }
    }
    .viewer-tooltip {
      background-color: transparent;
      backdrop-filter: none;
    }
    .viewer-title {
      background-color: transparent;
      backdrop-filter: none;
    }
    .viewer-toolbar>ul {
      background-color: transparent;
      backdrop-filter: none;
    }
  }
}