@use "palette/amber" as *;
@use "palette/wilderness" as *;
@use "palette/midnight" as *;
@use "palette/salt" as *;
@use "palette/rosepine" as *;
@use "palette/topaz" as *;
@use "more/coloredheading" as *;
@use "more/coloredoutline" as *;
@use "more/typewriter" as *;